[2016-04-15 05:03] mogul opened #1 "Agencies can manage id.cloud.gov accounts via their own SAML IDP"
What we're afters: Agencies can&nbsp;drive the status of their accounts on cloud.gov via existing SAML IDP&nbsp;services

Benefits
- Leverages agency investments in SSO and account expiration policies to give them finer&nbsp;control over who is using cloud.gov
- Reduces barrier-to-entry by eliminating the need for agencies to write their own tooling
- Reduces the need for cloud.gov to implement ac

[2016-04-15 05:03] mogul opened #2 "SAML IDP delegation MVP with Identity team"
In order to validate the potential for UAA to act as an IDF hub for C2G services, we want to show that we can authenticate existing&nbsp;GovIDP&nbsp;users who try&nbsp;to log into cloud.gov.

[GovIDP SAML metadata URL](https://myaccount.uscis.dhs.gov/api/saml/metadata)

[2016-04-15 15:32] mogul opened #3 "SAML IDP delegation to Azure AD for a single agency"
[Below, "TLA" refers to a specific three-letter agency. The identity&nbsp;is not particularly sensitive, but since most of our backlog information is public, I'm using "TLA" instead here to preserve their privacy.]

In order to demonstrate that we can provide SSO with agencies who are using Azure Active Directory for their accounts, @tla.gov users should&nbsp;be authenticated via TLA's Azure AD se

[2016-04-15 15:32] mogul opened #4 "SAML IDP delegation for GSA accounts via SecureAuth"
In order to increase security/compliance and reduce the credentials that users have to manage,&nbsp;@gsa.gov users should&nbsp;be authenticated via GSA's SecureAuth&nbsp;service when they reach login.cloud.gov.

Acceptance Criteria
- [x] When a user with an&nbsp;@gsa.gov domain attempts to login to cloud.gov, they are authenticated via GSA's SecureAuth&nbsp;service.
- [x] Any considerations about

[2016-04-15 15:41] mogul opened #5 "SAML IDP delegation to Okta developer account"
In order to provide a vantage point&nbsp;for pen-testing of UAA's SAML implementation and explore&nbsp;options for integrating MFA with local accounts,&nbsp;we want login.cloud.gov to authenticate a subset of cloud.gov users with an Okta developer IdP.

Acceptance Criteria
- [ ] We can demonstrate authentication into cloud.gov for accounts specified in Okta.
- [ ] We have the ability to issue new

[2016-04-15 16:07] mogul opened #6 "Enabler: Upgrade UAA to 3.2.1+"
In order to fix vulnerabilities, enable theming, support SAML clients, and increase bus-factor on our UAA deployment, we want to upgrade our production version of UAA to 3.2.1 or higher.

Acceptance Criteria:
- [ ] Production UAA is demonstrated to be running UAA 3.2.1 or higher

Notes:
- There's a (hard-to-exploit) CVE we need to fix
- Newer versions enable theming without any code modification,

[2016-04-15 23:06] cnelson commented on #5
I now have this working in my bosh-lite environment, those linked docs are a bit out of date.

Now looking into what's required for:

"We understand what's needed to promote existing UAA accounts to Okta-authenticated accounts"

[2016-04-15 23:58] mogul commented on #5
Feel free to file issues or pull-requests upstream! You can do that with impunity while working for 18F. :)

Right now, with no SAML integrations done, there are a ton of accounts in UAA for various domains, and UAA is authenticating them itself. We can specify IdPs for assorted domains if an appropriate IdP exists, and since the e-mail address matches it's pretty easy to correlate the upstream Id

[2016-04-18 20:19] mogul opened #7 "FedRAMP RAR/SAR remediations"

[2016-04-18 20:19] mogul opened #8 "Make subset of the team with ops capabilities explicit"
In order to explicitly distinguish those with full access to infrastructure from those who&nbsp;don't require that&nbsp;access to work on the cloud.gov team, we want to explicitly maintain/reference cloud-gov-ops from our infrastructure.

Acceptance Criteria
- [ ] GitHub's `cloud-gov-ops` team consists only of those who need access to infrastructure
- [ ] GitHub's `cloud-gov-ci` team consists only

[2016-04-18 20:19] mogul opened #9 "Lock down access to allowed_keys for jumpbox"
In order to tightly control which SSH allowed_keys are on jumpboxes, the jumpbox configuration should come from&nbsp;a repository with write access restricted to only cloud.gov admins.

Acceptance Criteria
- [ ] Elements affecting jumpbox configuration for cloud.gov move to a separate repository
- [ ] Only `cloud-gov-ops` can write to that repository

[2016-04-18 20:19] mogul opened #10 "Alert when the set of people who can access cloud.gov IaaS resources is in an unexpected state"
In order to minimize the risk of cloud.gov&nbsp;infrastructure&nbsp;being tampered with at the AWS level, only members of the cloud.gov team should be able to access cloud.gov AWS resources.

**Acceptance Criteria**
- [x] We have a test for only appropriate people in the cloud.gov team being able to access cloud.gov resources in AWS
- [ ] The test shows no problems when we run it
- [ ] The test is

[2016-04-19 15:58] mogul opened #11 "Ship host logs to common destination"
In order to meet logging requirements for FedRAMP, we want host logs from all VMs to be shipped&nbsp;to a common destination.

Acceptance Criteria
- [x] When a new VM is added, logs from that host become&nbsp;visible in the common repository
- [x] Bosh release for 'awslogs'
- [x] CI Pipeline to automatically update awslogs release
- [x] Metrics are sent to CloudWatch

[2016-04-19 22:40] mogul commented on #11
[Potentially useful/relevant](http://www.haydonryan.com/configure-pivotal-cloud-foundry-1-4-for-aws-to-export-logs-to-cloudwatch-logs/)

[2016-04-20 00:42] cnelson commented on #6
Looking at the upstream commit log: https://github.com/cloudfoundry/uaa/commits/master

It looks like 3.3.0 is going to drop real soon, just FYI depending on timing with this, we might want to go right to that version.

[2016-04-20 19:39] mogul commented on #11
Refer also to [the card on the SecOps board](https://trello.com/c/0lwpNXzL/72-cloudtrail-logs-need-to-be-made-available-to-gsa-secops)

[2016-04-20 21:04] mogul opened #12 "Demonstrate production shells can always be traced to individuals"
Figure out how to have the base container image we're using for Concourse jobs log hijackings in an individually-attributable way.

[2016-04-20 21:04] mogul opened #13 "Integrate host config integrity monitoring"
In order to be alerted when the configuration on a production VM changes from the expected state, we want to have&nbsp;Tripwire monitoring expected-static directories on all hosts and alerting when there are changes.

Acceptance Criteria
- [ ] Tripwire is installed on everything
- [ ] Tripwire's known-good configuration snapshot is generated as part of CD
- [ ] Tripwire profile based on Ubuntu 14.

[2016-04-20 21:04] mogul opened #14 "Detect and alert on signs of host attack"
In order to be aware when someone is attacking our platform from a nearby host, we want common signs of&nbsp;attack across eth0 in our hosts to result in alerts.

**Acceptance Criteria**
- [x] A network IDS&nbsp;is deployed on all hosts and paying attention to eth0
- [x] The network IDS signatures used to detect attacks are updated regularly, with trivial team effort
- [x] When attacks are detecte

[2016-04-20 21:04] mogul opened #15 "Detect and alert on signs of host compromise"
In order to be aware when someone has established foothold on a&nbsp;host, we want common signs of rootkits or other malware on a host to result in alerts.
### Acceptance Criteria
- [x] Local host-IDS (HIDS) is deployed on all hosts GovCloud
- [x] The HIDS signatures used to detect attacks are updated regularly, with trivial team effort
- [x] When attacks are detected, alerts are sent via Riemann

[2016-04-20 21:05] mogul opened #16 "Research [5d]: Prototype Garden runners in non-production"
In order to decide whether&nbsp;Diego can be included&nbsp;in our FedRAMP authorization boundary, we want to demonstrate at least one Garden runner deployed via BOSH into a non-production environment.

Acceptance Criteria
- [ ] One Garden runner and necessary other platform components are up automatically spun up&nbsp;in a non-production environment
- [ ] As output of this story&nbsp;we should be

[2016-04-21 16:57] sharms opened #17 "Update Staging Cert for *.18f.gov"
@sharms commented on [Thu Apr 21 2016](https://github.com/18F/cg-product/issues/3)

[2016-04-21 16:57] sharms opened #18 "Roll out UAA changes"
@sharms commented on [Thu Apr 21 2016](https://github.com/18F/cg-product/issues/4)

[2016-04-22 01:35] cnelson commented on #5
Promoting an existing UAA account to an Okta-authed (or any SAML IDP, referred to as "IDP" from here out) account requires the following:
- Add the user to the IDP with the same email address they use to login via UAA.
- Update the 'origin' column in the UAA database to match the name of the IDP (as defined in the manifest)

Note: Once the user has had their 'origin' updated in the UAA database to

[2016-04-25 16:51] #17 closed, assigned to sharms

[2016-04-28 00:41] cnelson commented on #5
Here's a sequence diagram describing how the process to migrate existing users would work:

![image](https://cloud.githubusercontent.com/assets/604163/14872032/fe90ff3a-0c9c-11e6-9651-19e6f9a7ef11.png)

Adding a net-new user is mostly the same, the only difference being they are added to Okta directly, instead of copied from UAA:

![image](https://cloud.githubusercontent.com/assets/604163/14872139

[2016-04-28 16:48] mogul commented on #18
Handling under #6.

[2016-04-28 16:48] #18 closed, assigned to sharms

[2016-04-28 16:49] #8 closed, assigned to nobody

[2016-04-28 16:50] mogul commented on #15
Client release under development, per stand-up today, but blocked by the staging issues identified under #6.

[2016-04-28 17:34] cnelson commented on #5
Here's a start to the 'TBW Glue Code'.  It performs the tasks described in the sequence diagram, but does so with no error handling, and limited input validation.  Consider it proof-of-concept quality code at this point:

https://github.com/cnelson/uaapp

[2016-04-29 18:20] mogul opened #19 "AWS SQS Managed Service"
What we're after: Tenants can easily provision SQS capability for hosted apps

Benefits/why:
- Enable migration of queue-dependent apps to cloud.gov
- Reduce burden on bespoke provisioning of AWS resources outside cloud.gov.

As this one is pretty isolated, we're going to try micropurchase.18f.gov as an experiment to see if we can get it done that way. If it works out, we'll do more micropurchase

[2016-04-29 22:19] mogul opened #20 "Document incident response plan"
In order for our team&nbsp;to handle incident response consistently over time and make&nbsp;our practices visible for&nbsp;auditing purposes, we want an incident-response plan published&nbsp;in docs.cloud.gov that details our rehearsed&nbsp;practices&nbsp;for handling events and incidents.

Acceptance criteria:
- [x] There's a page in [docs.cloud.gov](http://docs.cloud.gov/) with a checklist for h

[2016-05-02 21:18] mogul opened #21 "Ensure S3 access is encrypted"
In order to minimize the potential to poison our blob store, we want to use encryption with our S3 buckets.

Acceptance Criteria
- [x] The&nbsp;staging and production S3 blob stores use encryption

[2016-05-03 00:11] mogul commented on #15
Just to check: This one's about having something to find rootkits, etc. so `rkhunter` or `clamav`. My understanding is that right now we're working on Tripwire, which is in #13 ... So I'm moving this one back to the backlog and moving that one forward.

[2016-05-03 01:50] mogul opened #22 "SAML IDP delegation for EPA accounts via SecureAuth"
In order to increase security/compliance and reduce the credentials that users have to manage,&nbsp;@epa.gov users should&nbsp;be authenticated via EPA's&nbsp;SecureAuth&nbsp;service when they reach login.cloud.gov.

Acceptance Criteria
- [x] When a user with an&nbsp;@epa.gov domain attempts to login to cloud.gov, they are authenticated via EPA's SecureAuth&nbsp;service.
- [x] Any considerations a

[2016-05-03 13:37] cnelson commented on #6
As far as I'm concerned, the upgraded UAA in staging is now ready to go to production, but since it was left on an older version for so long, there's a risk it may cause problems that the staging tests didn't uncover.

Perhaps it's best to hold this release until after your IRL event in case triage is required after it's deployed?

[2016-05-03 15:50] cnelson commented on #22
As soon as https://github.com/18F/cg-cf-release/pull/16 is merged, we should be ready to begin testing with the EPA in staging.

-Chris

[2016-05-03 20:52] mogul commented on #6
Let's live dangerously on this one... The IRL event also means that there's
going to be a lot fewer people trying to use it for the next couple days. :)

On Tue, May 3, 2016 at 6:37 AM, Chris Nelson notifications@github.com
wrote:

[2016-05-07 01:43] cnelson commented on #4
Starting a list of documentation that will need updating:
- [x]  https://docs.cloud.gov/getting-started/accounts/
- [x] https://docs.cloud.gov/getting-started/setup/
- [x] https://docs.cloud.gov/ops/managing-users/

[2016-05-09 04:13] cnelson commented on #1
After spending Friday afternoon going through all the possible workflows in UAA, reading the code looking for undocumented features, and writing some prototypes and I have good news and bad news.

## Good News

There are two undocumented properties we can set when adding SAML IDPs:

`addShadowUserOnLogin` - This allows us to prevent new users from automatically being added by UAA when the IDP send

[2016-05-09 14:57] dlapiduz commented on #1
Wow, so many things happening... here are some thoughts:

Love good news!

Let me tell you, your bad news are not that bad

Thanks for writing that up, we finally have something. Is that up somewhere? do you have a sandbox? Can you push it?

If we integrated with an IDP it means we trust that IDP so lets just create the account and make sure that the sandbox bot gives them at least a sandbox. Both

[2016-05-09 15:13] cnelson commented on #1
If that's the case, then why do we need an invite system at all? If any user can self provision by logging in, can we just drop the entire idea of invites, or do we expect to always have users from organizations that haven't done an IDP integration with us who would still use the invite system?

Agreed, but I don't think we should do so until we've addressed these scenarios in some way, even if th

[2016-05-09 16:07] mogul opened #23 "Easily redeploy from scratch"
What we're after: We can spin up additional environments in new AWS accounts easily

Benefits/why:
- We can easily account for special development and integration challenges without impacting our ability to roll out changes to production cleanly
- Enabler for disaster recovery
- [x] [research:4d] Figure out what's involved in redeploying onto GovCloud
  In order to understand whether a move to Gov

[2016-05-09 16:07] mogul opened #24 "Automate addition of a new environment in AWS"
In order to easily add new environments to existing deployments, we want to automatically provision an AWS VPC from scratch and have it be ready for deployment of cloud.gov from tooling BOSH.

Acceptance Criteria
- [ ] Given I have the necessary access in AWS
  When&nbsp;I trigger the creation of a new VPC named X
  Then I can see that a VPC X is created
  And VPC X is properly configured for clou

[2016-05-09 16:38] mogul opened #25 "Demo cloud.gov deployed in AWS GovCloud"
In order to show we have a viable deployment of cloud.gov into AWS GovCloud, we should demo that all critical platform pieces are up and running.

**Acceptance Criteria**
- [x] Show that we can deploy a Cloud Foundry application to the GovCloud API endpoint
- [x] Show that the auditable services that are core to the platform are accessible on a GovCloud IP/ELB

**Implementation Sketch**
- Given I

[2016-05-09 19:42] mogul opened #26 "[research:4d] Figure out what's involved in redeploying onto GovCloud"
In order to understand whether&nbsp;a move to GovCloud is a viable short-term path forward, we want to spend up to four days exploring&nbsp;the delta between our hand-propped AWS account and what we'd want&nbsp;automated to feel confident about moving.
- [ ] We feel confident about how to&nbsp;tackle&nbsp;`CGP-287-1` aka `18F/cg-ops#25` (redeploying onto an existing E/W account from scratch).
- [

[2016-05-10 01:55] dlapiduz commented on #1
We were talking about this with @mogul and we need two different things:
- If a user does not belong to an IDP domain we want to be able to invite them. That is why we need the _page_.
- Also, we want to be able for a cloud.gov user to invite anyone and assign them some permissions "invite Jane@govvie.gov to space X as a SpaceDeveloper". That will send them an invitation and give them the right ac

[2016-05-10 14:41] cnelson commented on #1
Yep, all good reasons to keep the invite page around. :)

I don't know much about how the sandbox bot works, are there docs anywhere?  I'd like to understand what capabilities it provides and how it's integrated with UAA.

[2016-05-11 05:08] mogul opened #27 "Dedicated invitations application"
In order for users who are authenticated by external IdPs to accept invitations, we need a dedicated&nbsp;application that handles the invitation confirmation workflow.

**Acceptance Criteria:**
- [ ] An invitation app functionally equivalent to the branched UAA invitation code exists: Prompt for an e-mail address, and send that user an invitation.
- [ ] Confirmation of an invitation functions pro

[2016-05-11 05:12] mogul commented on #19
Refer to 18F/aws-broker#5 for discussion with the winner of the auction and hashing-out of implementation approach.

[2016-05-11 17:08] cnelson commented on #26
[Groomed story moved to #37 -Bret]

[2016-05-12 03:27] cnelson commented on #26
[Groomed story moved to #36 -Bret]

[2016-05-12 03:37] cnelson commented on #26
[Groomed story moved to #35 -Bret]

[2016-05-12 16:56] sharms commented on #11
Creating bosh release called 'awslogs'

[2016-05-12 22:46] cnelson commented on #26
If we end up using Terraform, we'll need to design and document how we store and share state between team members: https://www.terraform.io/docs/state/remote/

[2016-05-13 14:26] LinuxBozo commented on #26
[Groomed story moved to #34 -Bret]

[2016-05-13 17:14] cnelson commented on #1
Update on Scenario 4:  Looks CF was looking at the same problem we were, and say they'll have a fix for that in the next UAA release:

https://cloudfoundry.slack.com/archives/uaa/p1463159494000720

[2016-05-13 18:41] rogeruiz opened #28 "Update s3 encryption to accept an array"
The `cg-encrypt-blobstore-boshrelease` currently only accepts a single bucket at a time.
- Accept an array to allow `encrypt-blobstore` to monitor more than one s3 bucket

This is a continuation of the work for #21.

[2016-05-13 19:36] mogul opened #29 "GSA LATO remediations"
What we're after: Remediation of outstanding points from GSA ISSO to ensure long-term&nbsp;ATO

Benefits:
- Remove potential future&nbsp;barrier to GSA customers
- Improve compliance

Specific points to be addressed:
- [ ] Audit activity of individuals accessing jump box
- [x] Migrate Bosh and Concourse into a tooling VPC
  In order to have a clear boundary between staging and production for LATO

[2016-05-15 01:57] mogul commented on #5
Thanks for all the hard work and sequence diagrams... Closing this one.

Has `uaapp` gotten any polish? Have any sense that it my be a desirable contribution from the UAA folks?

[2016-05-15 01:57] #5 closed, assigned to cnelson

[2016-05-15 02:00] mogul commented on #6
This was actually updated, right? Can't remember or figure out where to look in CI to confirm, but closing on the assumption that it was, since it's awaiting acceptance. (Reopen if it's not the case.)

[2016-05-15 02:00] #6 closed, assigned to cnelson

[2016-05-15 02:21] mogul commented on #1
I prefer the former. We can easily fix the deck to make it clearer what's going on in the empty state, and we should!  "Normally you'd see orgs and spaces here, but you haven't got permissions to see any! Ask your collaborators to grant you roles on theirs." And as @dlapiduz says, the sandbox bot is likely going to create a space for anyone who we've gone to the trouble to have an IDP integration

[2016-05-15 02:36] cnelson commented on #26
The most important thing I learned about CloudFormation vs Terraform this week summed up in a [simple shell script](https://gist.github.com/cnelson/ecdefdeef5d58e0b6766a7f4fa3be9e2)

![image](https://cloud.githubusercontent.com/assets/604163/15271697/3447e1cc-1a0b-11e6-8b5a-ba4cc8eafa56.png)

[2016-05-15 04:51] cnelson commented on #6
Yeah it was.  You can view the source of the login page to see the version and commit that's running.

--
cnelson

On May 14, 2016, at 19:00, Bret Mogilefsky <notifications@github.com<mailto:notifications@github.com>> wrote:

This was actually updated, right? Can't remember or figure out where to look in CI to confirm, but closing on the assumption that it was, since it's awaiting acceptance. (Reo

[2016-05-15 13:35] cnelson commented on #1
Just to understand the LOE for doing it right, and to discuss the possibility of merging changes with CF.  Was only an hour or two of work, totally fine to ditch it, especially now that we know CF is working on their own fixes in the next release.

It has seen a bit of polish, I'll post an update version to staging tomorrow so you can take a look;  it can handle the origin flip and email notificat

[2016-05-15 13:41] cnelson commented on #6
Yeah it was.  You can view the source of the login page to see the version and commit that's running

[code]

[2016-05-15 13:43] cnelson commented on #5
Haven't talked to CF about uaapp;  Since it's a stand-alone app at best it could end up in https://github.com/cloudfoundry-community, but there's nothing to merge into UAA much like the invite app.

[2016-05-16 14:21] cnelson commented on #26
What we [built last week](https://github.com/18F/cg-provision):

![image](https://cloud.githubusercontent.com/assets/604163/15292199/d00666ac-1b36-11e6-8197-fc826b918660.png)

(source for this document [seq.txt](https://github.com/18F/cg-atlas/files/268827/seq.txt))

[2016-05-16 15:55] dlapiduz commented on #1
I think the window is set to 30 seconds now. We can make it smaller if we want to...

[2016-05-16 20:04] cnelson commented on #5
It has gotten a bit more polish;  there are tests now so I'm more confident it does what it's supposed to to do:

[code]

and I used the look/feel/css from UAA to skin the UI a little bit.  It's going to take a bit of work to get this app ready to deploy via cloud foundry, but here's some screenshots of it running locally to explain how the flow works

### Step 1: When you load the app, it sends y

[2016-05-17 03:45] mogul commented on #27
[wrong issue -bret]

[2016-05-17 04:10] mogul commented on #1
I think mailing them is probably more important, if we're going to do anything. Let's just leave it alone and solve that problem separately if we get a lot of support requests when we scale up the number of accounts a lot.

[2016-05-17 04:24] mogul commented on #4
In order to ship this story:
- [x] Update [the](https://docs.cloud.gov/getting-started/accounts/) [three](https://docs.cloud.gov/getting-started/setup/) [docs](https://docs.cloud.gov/ops/managing-users/) to mention the differences in UX between SAML- and non-SAML-accounts
- [x] Turn on the IdP delegation for GSA.gov in UAA's prod config
- [x] For all existing accounts in GSA.gov, use [`uaapp`](htt

[2016-05-17 04:24] mogul commented on #22
In order to ship this story:
- [x] Update [the](https://docs.cloud.gov/getting-started/accounts/) [three](https://docs.cloud.gov/getting-started/setup/) [docs](https://docs.cloud.gov/ops/managing-users/) to mention the differences in UX between SAML- and non-SAML-accounts
- [x] Turn on the IdP delegation for EPA.gov in UAA's prod config
- [ ] For all existing accounts in EPA.gov, use [`uaapp`](htt

[2016-05-17 04:25] mogul commented on #22
@cnelson are we still waiting on EPA to deploy the production config before we can complete this one?

[2016-05-17 04:30] mogul commented on #1
I was lazy and didn't make a separate issue to update the docs, but that redundant item is in the checklist for both issues now.

[2016-05-17 04:53] cnelson commented on #22
They are waiting on us, but they requested a test with a single user before enabling.  I've been holding off until we figured out how we wanted to handle IDPs in production for now.

I can add them, but if they want to test with a single user I think what we should do is:
- [x] Update the three docs to mention the differences in UX between SAML- and non-SAML-accounts
- [x] Turn on the IdP delegati

[2016-05-17 17:19] mogul commented on #26
[Groomed story moved to #33 -Bret]

[2016-05-17 17:52] mogul commented on #26
[Groomed story moved to #32 -Bret]

[2016-05-17 17:56] mogul commented on #26
[Groomed story moved to #31 -Bret]

[2016-05-17 18:09] mogul commented on #26
[Groomed story moved to #30 -Bret]

[2016-05-17 18:16] #26 closed, assigned to LinuxBozo

[2016-05-17 18:21] mogul opened #30 "Ensure Concourse can make use of Terraform to set environments to expected state"
In order to ensure our environment is in the expected state, As an operations engineers we want our deployments of Concourse to be able to use Terraform
#### Acceptance Criteria
- [ ] Demo that a freshly deployed Concourse can use Terraform-based inputs to set up infrastructure

[2016-05-17 18:22] mogul opened #31 "Update deploy-bosh pipeline to allow tooling to be deployed SOLO"
In order to consistently provision tooling CD in our deployments. As an operations engineers we want a repeatable process to populate a tooling Concourse with the pipelines needed to bootstrap the rest of our environment.
#### Acceptance Criteria
- [ ] Once booted, pipelines are automatically installed into Concourse from a version controlled source
- [ ] A job can be automatically triggered once

[2016-05-17 18:23] mogul opened #32 "Ensure we can use Terraform for AWS provisioning without losing state"
In order to use Terraform for more reliable (re-)deployments, as ops engineers we need to design and document how we store and share state between Terraform runs.
#### Acceptance Criteria
- [ ] Concourse can retrieve and store terraform state between builds
#### Implementation Sketch

https://www.terraform.io/docs/state/remote/

[2016-05-17 18:25] mogul opened #33 "Redeployments of cloud.gov should auto-generate new credentials"
In order to ensure we can
- cleanly recover from a full platform compromise
- redeploy in a new region easily
- ensure integration environments are completely isolated

...as an operations engineer I want new deployments of cloud-gov to auto-populate the key platform secrets and credentials.
#### Acceptance Criteria
- [ ] Secrets are automatically generated for bosh manifests
- [ ] Equivalent secr

[2016-05-17 18:26] mogul opened #34 "Ensure upstream stemcells work in GovCloud"
In order to deploy and maintain the platform using BOSH in GovCloud, as operations engineers, we want upstream stemcells to be suitable for use in GovCloud.
#### Acceptance Criteria
- [ ] the stemcells we track can successfully be used in a deployment in our target region(s) (eg GovCloud)
#### Implementation Sketch
- How: https://github.com/cloudfoundry/bosh/tree/master/bosh-stemcell
- https://git

[2016-05-17 18:27] mogul opened #35 "Make cg-common-resource usable in multiple regions"
In order to reuse our existing deployment pipeline in other regions. As an operations engineer, I want cg-common-resource to accept a parameter for region.
#### Acceptance Criteria
- [ ] cg-common-resource takes a parameter for the region to operate in
- [ ] The parameter must be a string containing a valid [region code](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability

[2016-05-17 18:28] mogul opened #36 "Create a repeatable process for populating a bootstrap Concourse instance with secrets and configuration"
In order to reliably provision consistent environments. As an operations engineer I want a repeatable process to populate a bootstrap Concourse with the pipelines needed to bootstrap the rest of our environment.
#### Acceptance Criteria
- [ ] A single command can be run against a version controlled manifest that creates a Concourse VM from our image
- [ ] The VM should be directly accessible via p

[2016-05-17 18:29] mogul opened #37 "Create a repeatable process for producing a bootstrap concourse image"
In order to quickly bootstrap a new environment without external dependencies. As an operations engineer I want a pre-configured VM image that runs a standalone concourse instance available for use in our region.
#### Acceptance Criteria
- [x] A single command can be run against a version controlled manifest that creates a Concourse VM image
- [x] A concourse pipeline is running in production that

[2016-05-17 19:59] cnelson commented on #27
Working CI pipeline to deploy this app is here: http://ci.cloud.gov/pipelines/deploy-uaa-invite-staging

To prove the origin selection by domain works, I invited two non-existent users: test-proper-origin@gsa.gov, and test-proper-origin@cnelson.org

Checking the accounts with [uaac](http://docs.cloudfoundry.org/adminguide/uaa-user-management.html), I see both have the origin I would expect (gsa fo

[2016-05-18 02:39] mogul commented on #1
Regarding this:

It turns out our welcome mail already warns about this issue:

[2016-05-18 03:55] cnelson commented on #27
Your test of going through the GSA auth to create your invited account proves it directly, but to match my tests above, here's the output of uaac for the [test account you created](https://18f.slack.com/archives/cloud-gov-atlas/p1463539466002396):

[code]

as expected,  the origin was properly set to `gsa`

[2016-05-18 08:29] mogul commented on #34
CF folks are saying that if we use the "full" rather than light stemcells, they should work in GovCloud as-is.

[2016-05-18 13:54] ghost commented on #29
Updated the system diagram to reflect both Production and Tooling VPCs as part of the authorization boundary. Also updated section 10.1 of the SSP detailing the environment

[2016-05-18 14:50] cnelson commented on #27
This is in production: https://invite.cloud.gov/

CI pipeline: http://ci.cloud.gov/pipelines/deploy-uaa-invite-prod

[2016-05-18 15:28] LinuxBozo commented on #34
There are caveats that aren't documented. See: https://github.com/cloudfoundry/bosh/issues/1271#issuecomment-220049835

[2016-05-18 15:48] cnelson commented on #37
The work for this story will live in [18F/cg-bootstrap-concourse-ami](https://github.com/18F/cg-bootstrap-concourse-ami); the implementation sketch was [discussed in slack](https://18f.slack.com/archives/cloud-gov-atlas/p1463583968002603)

[2016-05-18 16:16] ghost commented on #33
I can work on this.

[2016-05-18 16:48] ghost commented on #30
I can take this.

[2016-05-18 19:17] #27 closed, assigned to cnelson

[2016-05-19 01:29] mogul opened #38 "Concourse deployment of cf-abacus"
In order for the cloud.gov team to operate and iterate on the abacus service, we need to capture knowledge about how it is deployed, secured, operated, etc. and automate the deployment for future.

**Acceptance Criteria**
- [ ] There's a `cg-deploy-abacus` GitHub repository that is actively "flying" in Concourse
- [ ] docs.cloud.gov's contributing section includes any necessary operations notes

-

[2016-05-19 01:29] mogul opened #39 "Concourse deployment of landing page"

[2016-05-19 01:29] mogul opened #40 "Concourse deployment of docs.cloud.gov"

[2016-05-19 01:30] mogul opened #41 "Travis deployment of dashboard.cloud.gov"
## Acceptance criteria
- [x] Deploy https://dashboard-master.fr.cloud.gov
- [x] https://dashboard-master.fr.cloud.gov is automatically deployed by Travis on changes to the `master` branch
- [x] https://dashboard.fr.cloud.gov will be automatically deployed by Travis on the next tag

[2016-05-19 01:30] mogul opened #42 "Concourse deployment of docker broker"
## Acceptance criteria
- [x] BOSH manifests for staging and production - https://github.com/18F/cg-deploy-docker-swarm/issues/2
- [x] Concourse pipeline for deploying the manifests - https://github.com/18F/cg-deploy-docker-swarm/issues/3
- [ ] Secrets exist in S3
- [x] Instructions for how to use all of these things

[2016-05-19 01:30] mogul opened #43 "Concourse deployment of the aws-rds broker"
We have multiple brokers which are not yet in a CI pipeline.  In order to progress towards our goal of automated, repeatable deployments we should create a Concourse pipeline to deliver the service
- [x] Create reusable broker pipeline in Concourse - https://github.com/18F/aws-broker/pull/7
- [x] aws-rds broker is deployed by pipeline
- [x] aws-rds required database is deployed via Terraform for n

[2016-05-19 01:30] mogul opened #44 "Concourse deployment of the S3 broker"
- [x] Create reusable broker pipeline in Concourse - https://github.com/18F/cg-s3-service-broker/pull/1
- [x] Deploy to production after acceptance tests pass on staging - https://github.com/18F/cg-s3-service-broker/pull/1
- [ ] Deploy to govcloud cf

[2016-05-19 01:30] mogul opened #45 "Concourse deployment of the sandbox-bot"
Getting the `18F/cg-sandbox-bot` from being manually deployed to being deployed on ConcourseCI.
### Acceptance Criteria
- [ ] ~~Getting environmental variables in a :cloud:gov `user-provided-service` 18F/cg-sandbox-bot#4~~
- [x] Create pipeline for deployment of `cg-sandbox-bot` within Concourse using `pipeline.yml`
- [x] Create  / update documentation

[2016-05-19 01:30] mogul opened #46 "Concourse the deployment of the quotas app"
- [x] Create concourse pipeline to deploy app - https://github.com/18F/cg-quotas-db/pull/57
- [ ] Deploy to govcloud cf

[2016-05-19 16:06] LinuxBozo commented on #30
Example pipeline and terraform: https://github.com/LinuxBozo/terraform-example

[2016-05-19 16:13] cnelson commented on #37
This is ready to be accepted:
- [The single command](https://github.com/18F/cg-bootstrap-concourse-ami#building): `packer build -var-file=secrets.json bootstrap_concourse.json
  `
- [The production pipeline](http://ci.cloud.gov/pipelines/deploy-concourse-ami)

[2016-05-19 16:26] cnelson opened #47 "Improve Concourse AMI build process"
In order to keep our AWS environment clean and comprehensible. As an operations engineer I want the Concourse AMI build process to include additional information in built AMIs and to cleanup after itself.
### Acceptance Criteria
- [ ] Published AMIs have the Concourse and Ubuntu versions included in their name or tags
- [ ] Only two Concourse AMIs are available at a given time (the newly built one

[2016-05-19 17:10] mogul commented on #32
@LinuxBozo: Want to document how you'd demo this, eg to Madhu, in the AC `???` above? Then move it to Awaiting Acceptance and actually do that. :)

[2016-05-19 17:48] mogul commented on #28
@rogeruiz can you explain more about why this is needed? I don't have enough context from the description to be able to make decisions about how to prioritize it. Is it just tech debt? Is it an enabler for us to be able to do something else? Are you just noting an idea for how to improve it in future?  Your answers will help me understand whether this belongs in Icebox, or if it stays in Backlog,

[2016-05-19 18:15] LinuxBozo commented on #32
As part of #30 I've rolled it in: 18F/cg-pipeline-tasks#6
Centralized storage provided by pre-provisioned S3 bucket.

Simple example pipeline and terraform manifest here: https://github.com/LinuxBozo/terraform-example

[2016-05-19 18:24] rogeruiz commented on #28
@mogul Sorry for opening this up. I _think_ it should stay part of the #21 story and I just needed a place to put it. I'll close this for now, and add my explanation into #21.

[2016-05-19 18:24] #28 closed, assigned to nobody

[2016-05-19 18:28] sharms commented on #30
Looks good

[2016-05-19 18:28] #30 closed, assigned to LinuxBozo

[2016-05-19 18:29] sharms commented on #32
Looks good

[2016-05-19 18:29] #32 closed, assigned to LinuxBozo

[2016-05-19 18:33] rogeruiz commented on #21
The current work on [cg-encrypt-blobstore-boshrelease](https://github.com/18F/cg-encrypt-blobstore-boshrelease) accepts a single `string` for the bucket name. Which you can see in the [manifest for the `cg-deploy-monitoring` here](https://github.com/18F/cg-deploy-monitoring/blob/3239d4752b66097336bef13f7c24654b6984fe9d/monitoring.yml#L93-L96). The idea for #28 which I closed, is to have this prope

[2016-05-19 20:50] sharms commented on #37
Looks good thanks!

[2016-05-19 20:50] #37 closed, assigned to cnelson

[2016-05-20 13:20] LinuxBozo opened #48 "Infrastructure as code re-usable components"
In order to consistently provision needed resources. As an operations engineer we want re-usable components that can be used as building blocks for more larger more concrete infrastructure.
#### Acceptance Criteria
- [ ] Components can be used on their own or combined to form larger defined infrastructure
- [ ] Concourse can use these components to CRUD the infrastructure
#### Implementation Sketc

[2016-05-20 14:26] sharms commented on #11
Repo is at: https://github.com/18F/cg-awslogs-boshrelease
Pipeline is at: http://ci.cloud.gov/pipelines/awslogs-boshrelease

[2016-05-20 16:06] sharms opened #49 "Run Tripwire scan each hour"
In order to ensure system integrity Tripwire should run each hour and log the results
- [ ] Tripwire runs hourly

[2016-05-20 16:16] dlapiduz commented on #34
Here is the repo https://github.com/18F/cg-aws-light-stemcell-builder
and here is the pipeline: http://52.222.8.247/pipelines/create-stemcells.

@LinuxBozo can accept it if he is up for it

[2016-05-20 16:38] rogeruiz commented on #21
After speaking to @dlapiduz about how often this script should run, [he mentioned that it should be hourly](https://18f.slack.com/archives/cloud-gov-atlas/p1463761910003279).

[2016-05-20 20:39] cnelson commented on #35
This is ready for acceptance.  Here's the working production CI pipeline:

http://ci.cloud.gov/pipelines/update-cg-common-resource-image

[2016-05-20 20:47] sharms opened #50 "Version cloud-gov-bosh-prod-blobstore"
In order to not corrupt or break user blobs, we have enabled versioning on cloud-gov-bosh-prod-blobstore

[2016-05-20 20:50] #21 closed, assigned to rogeruiz

[2016-05-20 20:50] #50 closed, assigned to sharms

[2016-05-20 21:31] #35 closed, assigned to cnelson

[2016-05-21 05:24] mogul opened #51 "Bring SSP to SAR-ready state"
@mogul commented on [Fri May 20 2016](https://github.com/18F/cg-product/issues/9)

In order to enter the FedRAMP SAR auditing process with all prerequisites satisfied, we must provide our SSP rendered in the mandated FedRAMP format with all required Moderate-level controls documented.

**Acceptance Criteria**
-  [x] Information is present for every control required for FedRAMP Moderate certificati

[2016-05-23 13:45] LinuxBozo commented on #34
Pipeline built: https://s3-us-gov-west-1.amazonaws.com/cg-stemcell-images/light-bosh-stemcell-3232.4-aws-xen-hvm-ubuntu-trusty-go_agent.tgz
Used by master bosh to deploy tooling bosh in pipeline.
👍

[2016-05-23 13:45] #34 closed, assigned to dlapiduz

[2016-05-23 15:55] mogul commented on #51
(I believe @clovett3 is also working on this.)

[2016-05-23 16:51] #49 closed, assigned to sharms

[2016-05-23 18:49] sharms opened #52 "Speed up CI system"
In order for our large team to be effective, we need quicker iteration in our CI pipeline to avoid contention between commits
- [ ] Increase resources from small -> xlarge for acceptance tests
- [ ] Increase parallelism from 2 -> 6

[2016-05-24 15:08] sharms commented on #52
Increasing size and moving to parallel execution did not result in measurable speedups

[2016-05-24 15:08] #52 closed, assigned to sharms

[2016-05-24 17:16] sharms opened #53 "Research [2h]: Terraform input / output to Concourse"
In order to reduce the manual effort needed to maintain secrets information that Terraform provides, we want to be able to incorporate Terraform-generated information into downstream Concourse jobs.
- [ ] We all understand how to get output from Terraform to be used as an input to a Concourse task

[2016-05-24 17:17] sharms commented on #53
Terraform keeps a JSON state file which may be the right place to start

[2016-05-24 17:23] sharms opened #54 "Enable UAA to authenticate BOSH against Github for cloud-gov-ops"
In order to gain MFA and account features such as revocation and management, we need to enable UAA to authenticate against GitHub for the group 'cloud-gov-ops'
- [ ] UAA allows the user to use their Github account to authenticate
- [ ] Bosh points to GitHub enabled UAA for _staging_

[2016-05-24 17:41] mogul commented on #51
@frsfx said he could help out with documenting controls as well... he's been through the FedRAMP process before.

[2016-05-25 23:46] mogul commented on #38
The upstream abacus repo now provides [Concourse pipelines](https://github.com/cloudfoundry-incubator/cf-abacus/tree/master/etc/concourse).

[2016-05-26 17:06] sharms commented on #43
We have created a minimum viable terraform RDS profile along with IAM permissions, and are looking to be able to deploy to staging by close of business today

[2016-05-26 17:08] mogul commented on #51
The [list tracking the state of all the controls](https://docs.google.com/spreadsheets/d/1EYLuavFgLUvfHDiBOuFjJsjpKQFDwXZx6J6gTffegUM/edit#gid=0) is in Google Drive.

[2016-05-26 18:19] rogeruiz commented on #45
The `cg-uaa-invite` app is a good example of how the `cg-sandbox-bot` can be modified to deploy through concourse. @jbarnicle

https://github.com/18F/cg-uaa-invite

[2016-05-27 03:23] jmcarp commented on #43
Update: as of http://ci.cloud.gov/pipelines/deploy-aws-broker-staging/jobs/push-aws-broker/builds/21, we're provisioning databases and deploying to staging. We should be able to pull in something like https://github.com/18F/aws-broker/compare/master...jmcarp:update-broker?expand=1, and then we'll have the broker registering itself and updating its catalog on deploy.

From there, it sounds like we'

[2016-05-27 03:30] mogul commented on #43
Are there any data migration concerns for the hand-propped broker that's out there in AWS E/W prod environment now?

[2016-05-27 04:18] jmcarp commented on #43
There aren't any schema changes pending, so all we need to do is point what we're calling `rds-internal` to the existing rds instance, or create the new rds instance from a backup of the existing instance. I'm hoping we can point our terraform rds module to the instance id of the existing database, which would require exposing that attribute in our module, unless there's a better approach--@LinuxB

[2016-05-27 05:03] mogul commented on #43
Yes, however we must first ensure that no one's using `rds-broker` service instances before we retire it.

As a product person I have no opinions on whether the internal broker state should be split into another DB instance, nor any requirements for that before accepting, but other people on the team might have thoughts.

[2016-05-27 14:03] LinuxBozo commented on #43
@jmcarp From my research, there is a hacky method for getting terraform to recognize already deployed bits, but it involves hacking up a proper tfstate file so that everything matches. There is this: https://github.com/dtan4/terraforming that will try to do the tfstate thing for you, but I haven't had a chance to try it.

It is a frequently requested issue though: https://github.com/hashicorp/terr

[2016-05-27 15:26] sharms opened #55 "aws-broker needs to support multiple regions"
In order to support our transition to GovCloud, we need to update aws-broker to accept REGION as a environment variable or configuration option.
- [x] aws-broker does not contain the string 'us-east-1', except for a default when no configuration is specified
- [x] aws-broker accepts AWS_DEFAULT_REGION environment variable

[2016-05-27 15:32] sharms opened #56 "aws-broker needs to use the CF Async API"
When a database is created, the aws-broker will show the database as created even when it has not yet finished creating.  In order to address this, the CF async API was introduced.

We should take the rds-broker changes from https://github.com/cf-platform-eng/rds-broker

http://docs.cloudfoundry.org/services/images/async-service-broker-flow.png
- [ ] When a database is created, it should say 'in p

[2016-05-31 15:10] #13 closed, assigned to nobody

[2016-05-31 15:15] #11 closed, assigned to sharms

[2016-05-31 17:34] mogul opened #57 "Host scanning includes all hosts"
In order to meet requirements for both GSA and FedRAMP, we want the scanning agent to be deployed on every VM that Bosh deploys.
### Acceptance Criteria

The following VMs are shown to be running the host scanning jobs (fisma, tripwire, awslogs, nessus-agent, and newrelic) in staging and production
- [x] Admin UI
- [x] ~~Docker Broker~~ - out of scope per @dlapiduz
- [x] ~~Docker Swarm Broker~~ [\

[2016-05-31 17:38] mogul opened #58 "Nessus server deployed on GovCloud"
In order for scanning to be possible in the GovCloud, we need a Nessus scanning master deployed in the GovCloud environment.

**Acceptance Criteria**
- [ ] There's a Nessus manager host deployed in the GovCloud environment, and it's accessible to administrators
- [ ] The Nessus Manager is accessible from all platform hosts via an internal network so that agents can report details

**Implementation

[2016-05-31 18:00] afeld commented on #51
Issue for templatizing the FedRAMP SSP: https://github.com/opencontrol/compliance-masonry/issues/140

[2016-05-31 18:07] afeld commented on #51
@clovett3 just showed me a different one:

https://docs.google.com/spreadsheets/d/1Z_PScNd_NgJKgkCf74tZuSH-HvCjcd5qd2B7AbIQSaw/edit#gid=566813369

[2016-05-31 19:17] #31 closed, assigned to nobody

[2016-05-31 19:34] dlapiduz commented on #58
There is a debian package that we can use: https://support.tenable.com/dl_secure.php?x=&y=&z=&p=Nessus-6.7.0-ubuntu1110_amd64.deb

[2016-05-31 19:43] #48 closed, assigned to LinuxBozo

[2016-05-31 20:38] cnelson commented on #10
Since cloud.gov has it's own account in GovCloud, do we need to do anything else to close this out?

[2016-05-31 20:46] mogul commented on #51
We just had a meeting to talk about how/where to track the remaining work, since it wasn't clear which of the above issues/Google Docs was canonical. For expediency, the remaining work on the FedRAMP template version of the SSP will be going through @clovett3's hands and into a .docx via Word, with other people contributing in certain controls. (We will **NOT** be using Compliance Masonry to gener

[2016-05-31 20:53] mogul commented on #10
Nope, I think that demoing #25 (redeploy in GovCloud) basically knocks this one straight to "completed", because we're doing this:

[2016-05-31 20:53] mogul commented on #10
BUT, please don't close this issue until that's done... Our Readiness Assessment Report refers specifically to this issue as where to track the state of the remediation.

[2016-05-31 20:54] mogul commented on #10
I set the estimate on this one to "none" since it's zero effort based on #25 completing and should not be factoring into our burndown.

[2016-05-31 21:53] mzia commented on #51
##### Cloud.Gov FISMA Control Canonical List

[SSP Completion Checklist](https://github.com/18F/cg-compliance/issues/68)

[2016-06-01 01:30] dlapiduz commented on #57
👍

[2016-06-01 14:15] frsfx commented on #58
To confirm, is the flow of data nessus scanner agent-->nessus scanning manager-->nessus manager?  Also, can we be provided an account to the Nessus portal?  The debian package is only available to people with a login to their portal.

[2016-06-01 14:50] jmcarp commented on #43
Update: based on conversation with @dlapiduz, we're not going to deal with migration in this issue, so we can defer the terraform question for now.

In case this comes up again later, I took a look at terraforming and was able to get terraform to manage an existing rds instance--although I had to change the generated terraform state file to get it to work with our terraform rds module.

[2016-06-01 15:10] afeld commented on #42
Looks like the work is happening in https://github.com/18F/cg-deploy-docker-swarm, so moving to `In Progress`.

[2016-06-01 15:13] #55 closed, assigned to nobody

[2016-06-01 15:23] dlapiduz commented on #58
@frsfx it is just nessus agent -> nessus manager. We have the bosh release for the nessus agent but not for the nessus manager. That is what we need.

[2016-06-01 15:27] dlapiduz commented on #42
@afeld I can use some help if you are willing to wrangle yamls

[2016-06-01 17:15] mogul commented on #42
Please do go through the [skipped `Grooming` steps](https://github.com/18F/cg-product/blob/master/DeliveryProcess.md#grooming) so we have an idea how we'll know when this is done and how we'll plan to demo it.

[2016-06-01 17:17] dlapiduz opened #59 "Write plan to migrate tenants off us-east and into GovCloud"
We need to write up a timeline that allows people to migrate their apps at their own pace.

Ideally it would look something like this:
- X/10: First version of GovCloud cloud.gov. Endpoint created for API at `api.gov.cloud.gov` (?)
- X/29:  GovCloud ready to receive tenants.
- X - X+2: Tenants self-migrate
- X+2/1: Switch endpoints `api.gov.cloud.gov` -> `api.cloud.gov`, `api.cloud.gov` -> `api.ol

[2016-06-01 18:00] afeld commented on #59
This is going to be a major pain in the butt for people (copying databases and switching domains over, etc.)...wonder how much we can automate, or at least provide scripts for?

[2016-06-01 18:50] afeld commented on #42
[migrated to top post -Bret]
@dlapiduz Anything I'm missing?

[2016-06-01 19:38] mogul commented on #59
Diego's described one way to do it (eg entirely customer-driven via redeployments and individually-driven data migrations) and to be honest that's the cleanest way, but customers who are not using CD to manage their deployment may get sore about it, and the data migration is still on them regardless. There may be ways we can make the process easier; we'll get there in time and will refine this sto

[2016-06-01 19:42] dlapiduz commented on #59
@afeld I think that we can write up tools to help them but we can't run 2 environment on the long run.

@mogul right, this is the "cleanest" way. We can try to migrate stuff but its going to be a mess.

I think that we should work in batches of moving things but basically the main point of this story is that an announcement needs to be made so we don't have this situation getting worse over time.

[2016-06-01 20:19] mogul commented on #52
We probably need another story at some point to re-attempt to deliver the intended speed benefit here.

[2016-06-01 21:36] dlapiduz commented on #42
sounds good, let me know if i can help...

[2016-06-01 22:00] mogul commented on #12
This needs some active research to know what we can/should do to funnel access through a chokepoint that we can log, but the team aesthetic is to avoid falling back to jumpboxes if possible.

[2016-06-01 23:56] mogul commented on #20
Reading material:
- [Incident response at Heroku](https://blog.heroku.com/archives/2014/5/9/incident-response-at-heroku)
- [Security Breach 101](https://medium.com/starting-up-security/security-breach-101-b0f7897c027c#.w48ggayah)
- [Security Breach 102](https://medium.com/starting-up-security/security-breach-102-d5fc88c5660f#.asklau4c4)
- [@jacobian's gist summarizing the main elements](https://gi

[2016-06-02 00:11] brittag commented on #59
Yeah, it makes sense to me to announce this relatively soon so that people can start planning/preparing (and also can start new projects in ways that minimize future migration pain, if possible). I'd approach it like this:
- [ ] Write up the timeline of changes (and briefly explain the reason) in a clear and helpful way for customers. Gently reassure people that this is just a one-time request (if

[2016-06-02 16:58] mogul commented on #44
Please retroactively go through the [skipped `Grooming` steps](https://github.com/18F/cg-product/blob/master/DeliveryProcess.md#grooming) so we have an idea how we'll know when this is done and how we'll plan to demo it.

[2016-06-02 16:58] mogul commented on #46
Please retroactively go through the [skipped `Grooming` steps](https://github.com/18F/cg-product/blob/master/DeliveryProcess.md#grooming) so we have an idea how we'll know when this is done and how we'll plan to demo it.

[2016-06-02 18:03] cnelson commented on #12
So I did a couple of hours of research last night / this morning and came up with this POC demo.

It uses concourse to provision containers for hijacking on the fly based on authentication from UAA and prevent hijacking any other containers.  This allows us to use MFA via SAML to gate access to all shells!

Check it out:

## Step 1: Get a one-time passcode from staging UAA

Visit https://login.gre

[2016-06-02 18:15] LinuxBozo commented on #12
I dig it. Ideally we'd roll the nginx bits into a bosh release that can be added on top of stock concourse. Though, not sure it entirely solves the traceability? @mogul do we have to show the who/when on request? Maybe this is something we can get nginx to dump into it's log and use awslogs to gather up into CloudWatch?

[2016-06-02 18:17] mogul commented on #12
Ideally, yeah, they're going to want to see that it's logged. But the point is proven, we **can** come up with a chokepoint where those logs get generated without having a static jumpbox, so woohoo!

[2016-06-02 18:18] cnelson commented on #12
We can ask UAA who the passcode was for here: https://gist.github.com/cnelson/73cb07b994405738847b3274f365d115#file-nginx-conf-L65  by calling the `/userinfo` API.  From there, we can use nginx to make an HTTP request anywhere we want to log that this happened. That could go to a SIEM, slack, whatever.

[2016-06-02 18:38] mogul commented on #12
Nice. One thing that was cool in Netflix's system was that the person asking for the shell could supply a reason that would get logged when the one-use-only key was actually used. Can you think of a trivial way offhand to add that given this POC? If so, note it, otherwise let's assume that'll be a different story in the Icebox someday.

Either way I think we have enough info to write the story whe

[2016-06-02 18:42] cnelson commented on #12
We don't have to rely on the built-in `/passcode` page in UAA for this.  We could build our own interface that generates those tokens so instead of going to `/passcode` you could go to `shell-request.cloud.gov` or whatever which would be a tiny uaa-invite style app that does whatever we want (like asking for a reason, and logging it someplace secure) before issuing them the passcode.

[2016-06-02 18:49] cnelson commented on #12
As long as we make this a bosh-release, with the appropriate bits broken out as properties (URL to UAA, client-id, etc) I think this would be very easy to release in a way anyone in CF community could use.

The hard part is going to be coming up with a concourse-y name for this. Maybe `Global Entry`?

[2016-06-02 20:48] mogul commented on #12
That's good, because I mentioned it in their #security channel and pointed
them here. :)

On Thu, Jun 2, 2016 at 11:49 AM, Chris Nelson notifications@github.com
wrote:

[2016-06-03 00:04] mogul commented on #51
I've converted this to an Epic, attached all the issues newly created in the `cg-compliance` repo (since it's the sum-total of all that work which will determine when this one is done) and moved it to the Feature column so we don't try to talk about this level of detail at stand-ups.

[2016-06-03 03:34] afeld opened #60 "Create accounts on the staging jump box for Aidan and Josh"
In trying to set up Concourse deployment pipelines for various components, @jmcarp and I would like to be able to try deploying BOSH releases manually to test them. Short of it being easy for us to create our own temporary environments, it would be great to be able to run `bosh` commands from within the staging VPC. Thanks!

[2016-06-03 04:21] cnelson commented on #60
@diego had me add my key like so: https://github.com/18F/cloud-cutter/pull/63 to get access to it.  I assume you'll need to do the same.

[2016-06-03 05:19] #4 closed, assigned to cnelson

[2016-06-03 05:22] #36 closed, assigned to nobody

[2016-06-03 15:34] frsfx commented on #58
We are still in the process of scripting the configuration of Nessus Manager.  We hope to have it ready for testing on Monday.

[2016-06-03 16:50] rogeruiz commented on #45
~~Environment variables in the pipeline don't seem to be set.~~ Nevermind, environmental variables are there using `cf env sandbox-bot`.

[2016-06-03 17:08] dlapiduz opened #61 "Unlink Nessus Agent on `drain`"
In order for the Nessus Manager to know which agents to scan Nessus agents need to be unlinked when the instance is decomissioned.
### Acceptance criteria
- [ ] Nessus Agents are unlinked when the instance is terminated
### Implementation Idea

Use the bosh drain script to unlink it

[2016-06-03 17:23] mogul commented on #10
I updated the ACs on this one to reflect our intention to not only resolve the existing situation, but have a test to prevent it from recurring in future. I also raised the estimate from a 0 to a 1 to reflect that it's no longer a no-op resolved via the redeployment to GovCloud.

[2016-06-03 22:25] mogul commented on #12
On this topic: It'd be super-cool if activity inside a production shell was actually logged off-host. Is there a modern open source equivalent to the moribund Enterprise Audit Shell (EASH)? It's been abandoned for a long time, but I see that someone seems to be starting a modern fork of it on GitHub: https://github.com/asquelt/eas

(I’m assuming something else fills that vacuum these days which ha

[2016-06-03 22:53] cnelson commented on #12
Well I wasn't going to mention it until I was sure it was possible, but with this solution we have nginx in the middle of the websocket, so we could log all shell activity if we wanted right there, no need for a special shell in the container.

[2016-06-03 22:56] cnelson commented on #57
## Concourse Staging

[code]

## Concourse Production

[code]

[2016-06-04 01:15] cnelson commented on #57
## Admin UI

[code]

[2016-06-04 02:33] mogul commented on #12
@jacobian says auditd is the way people handle that use-case nowadays.

[2016-06-04 02:36] cnelson commented on #12
auditd works at the kernel level.  Will have to research how it handles namespaces if we wanted to be able to log each container individually.

[2016-06-04 03:08] mogul commented on #12
Host level is fine as a start. In any case, consider all of it out of scope of this story since it's non-trivial and not critical for compliance. I have a stash of security improvements beyond mere compliance somewhere and will add it there.

[2016-06-04 23:39] #61 closed, assigned to nobody

[2016-06-06 19:32] cnelson commented on #57
## Monitoring

[code]

[2016-06-06 20:44] cnelson commented on #57
## Logsearch

[code]

[2016-06-06 20:45] cnelson commented on #57
@dlapiduz / @mogul I need some direction on what to do with these deployments / VMs as it relates to this story.  All the staging and production machines are now running these jobs EXCEPT:

### `cf-docker-swarm-broker` in staging and production.

@dlapiduz, I know you said to ignore this for now, but [this question is still open](https://18f.slack.com/archives/cloud-gov-atlas/p1465233653000103). D

[2016-06-06 20:45] dlapiduz commented on #57
We can keep all the docker brokers out of this...

[2016-06-06 20:47] cnelson commented on #57
OK, then moving this to awaiting acceptance.  Please revert to in progress and let me know if that's incorrect for some reason.

[2016-06-06 22:26] #46 closed, assigned to nobody

[2016-06-07 01:19] #22 closed, assigned to cnelson

[2016-06-07 02:00] dlapiduz opened #62 "Add Nessus + Hardening scripts for Bosh and Docker boxes"
In order to meet requirements for both GSA and FedRAMP, we want the scanning agent to be deployed on every VM that Bosh deploys.
### Acceptance Criteria

The following VMs are shown to be running the host scanning jobs (fisma, tripwire, awslogs, nessus-agent, and newrelic) in staging and production
- [x] bosh deployments
  - [x] ~~tooling~~ ( see #116 , #117 )
  - [x] ~~staging~~ ( see _tooling_ )

[2016-06-07 02:32] #57 closed, assigned to cnelson

[2016-06-07 04:01] mogul commented on #22
Update for anyone not attending stand-ups or in the Slack channel: We've got this working, just waiting for word from the EPA side and then we'll flip all the existing accounts.

[2016-06-07 14:26] cnelson commented on #15
Is a bosh release for `clamav` that's configured to scan on file access and running freshclam to keep the database updated enough for this story?

Where's the documentation on how applications get data into  your riemann -> pagerduty setup for the last AC?

[2016-06-07 14:43] dlapiduz opened #63 "Deploy Stemcell builder pipeline to e/w"
In order to have parity between the environments and pipelines we need to deploy the stemcell builder job (https://github.com/18F/cg-aws-light-stemcell-builder) to e/w.
### Acceptance Criteria
- [x] Pipeline is created in ci.cloud.gov
- [x] At least one stemcell is uploaded to an S3 bucket in us-east

[2016-06-07 14:44] dlapiduz commented on #60
This is ready, right?

[2016-06-07 14:44] dlapiduz commented on #60
sorry, "Done"

[2016-06-07 15:07] afeld commented on #60
I don't know...how do we try logging into it?

[2016-06-07 15:07] dlapiduz opened #64 "Terraform for creating the CloudFoundry ELBs"
In order to serve all the urls we need, ELBs need to be created. Right now we need one ELB for each one of these:
- `*.fr.cloud.gov`
- `*.fr-stage.cloud.gov` (this should be created in the staging VPC)
- `*.cloud.gov`
- `*.apps.cloud.gov`

The certificates haven't been uploaded but they will be later today.
### Acceptance Criteria
- [ ] ELBs are created which can be bound to the internal subnets b

[2016-06-07 15:54] sharms commented on #15
clamav will be sufficient for now at the level we are certifying.  In order to pipe this into Riemann we should log to syslog and filter in Riemann - https://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html/configuring-destinations-riemann.html

I will escalate the alerts to pagerduty once I see those events come in

[2016-06-07 16:28] dlapiduz opened #65 "Ensure instance types are available in GovCloud"
We currently use instance types that are not available in GovCloud. To prevent issues when redeploying we need to switch instance types in the manifests.
### Acceptance Criteria
- [x] All `cg-deploy-*` repos that reference a bosh deployment include instance types supported by GovCloud

Here is one example of a manifest to change: https://github.com/18F/cg-deploy-cf/blob/staging/cf-infrastructure-a

[2016-06-07 16:30] dlapiduz commented on #65
Instance types supported:

[code]

[2016-06-07 16:48] mogul commented on #15
Should we be documenting this pattern generally as part of our docs?

[2016-06-07 17:11] jmcarp commented on #65
@madhujoshi and I checked the list of instance types available in e/w but not in gc:

[code]

We filed the PRs above to change c4.\* and m4.\* types to c3.\* and m3.*.

[2016-06-07 17:45] ghost commented on #58
Release is at https://github.com/18F/cg-nessus-manager-boshrelease

Note that the final release has not yet been created (`bosh create release`).

[2016-06-07 18:09] mogul commented on #58
Automation still needed

[2016-06-07 18:19] mogul commented on #25
_Please edit this comment and tag yourself on the checklist below._

List of stuff to be flown when this is done:
- [x] update-task-image @LinuxBozo
- [x] deploy-bosh @LinuxBozo
  - [x] deploy-concourse (save this until last in case it breaks Concourse so it doesn't block the others)
  - [x] deploy-monitoring @rogeruiz @afeld @jbarnicle @sharms
  - [x] deploy-cf @LinuxBozo
    - [x] deploy-console

[2016-06-07 19:47] cnelson opened #66 "Add custom SSL negotiation policy to our terraform configuration for our ELBs"
In order to ensure that our platform is a secure as possible as an SRE I want our ELBs to have their negotiation policies managed by version controlled code so that our platform does not accept possibly insecure SSL connections from misconfigured or adversarial clients.
### Acceptance Critera
- [ ] All ELBs supporting SSL or HTTPS use a custom negotiation policy that matches the current best pract

[2016-06-07 20:07] dlapiduz commented on #65
closing for now

[2016-06-07 20:07] #65 closed, assigned to jmcarp

[2016-06-08 05:20] dlapiduz commented on #58
Because of their way of deploying licenses you can only reuse it once every 10 days… we need to make sure that the bosh deployment stores the license info in the persistent volume rather than in the ephemeral one

[2016-06-08 15:09] ghost commented on #29
@mogul has anyone updated the GitHub and New Relic documentation for the L-ATO? This will need to be submitted to GSA OCISO.

[2016-06-08 15:58] jmcarp commented on #63
Pipeline is running at https://ci.cloud.gov/pipelines/aws-light-stemcell-builder, and stemcells are getting published to the cg-ew-stemcell-builder bucket.

[2016-06-08 16:48] mogul commented on #45
Closing to have it reflect in burndown

[2016-06-08 16:48] #45 closed, assigned to rogeruiz

[2016-06-08 16:52] mogul commented on #60
Someone needs to write-up any remaining steps and how to login via Concourse.

[2016-06-08 17:11] afeld commented on #42
Moving remaining work to https://github.com/18F/cg-atlas/issues/25#issuecomment-224368518.

[2016-06-08 17:11] #42 closed, assigned to afeld

[2016-06-08 17:11] afeld commented on #44
Moving remaining work to https://github.com/18F/cg-atlas/issues/25#issuecomment-224368518.

[2016-06-08 17:11] #44 closed, assigned to afeld

[2016-06-08 17:12] afeld commented on #43
I believe this is done besides deploying to GovCloud, right? If so, let's close in favor of https://github.com/18F/cg-atlas/issues/25#issuecomment-224368518.

[2016-06-08 17:13] afeld commented on #43
Would someone mind updating the checkboxes at the top?

[2016-06-08 21:44] #64 closed, assigned to nobody

[2016-06-10 03:25] afeld commented on #39
## Acceptance criteria
- [x] Create reusable Concourse pipeline
- [x] Site is deployed to fr.cloud.gov by pipeline

[2016-06-10 06:37] afeld commented on #40
## Acceptance criteria
- [x] Create reusable Concourse pipeline
- [x] Site is deployed to docs.fr.cloud.gov by pipeline

/cc https://github.com/18F/cg-atlas/issues/25#issuecomment-224368518

[2016-06-10 16:54] mogul commented on #63
Confirmed in use.

[2016-06-10 16:54] #63 closed, assigned to jmcarp

[2016-06-10 16:56] mogul commented on #15
Confirmed alerts going through Riemann, will roll out as deployments happen.

[2016-06-10 16:56] #15 closed, assigned to cnelson

[2016-06-10 16:57] mogul commented on #14
Working but incomplete bosh release done, cron updates to rules and alerts yet to do.

[2016-06-10 17:00] mogul commented on #58
Pending license purchase for clients, sitting with CAP/@vv

[2016-06-10 17:07] mogul commented on #10
Test exists, but no alerts yet. Steve wants to add some additional conditions to test for.

[2016-06-10 17:17] cnelson opened #67 "Add admin-ui to the staging environment"
In order to have a staging environment that fully matches production as an SRE I want the admin-ui release to be deployed into the staging environment so that I can be sure that staging accurately reflects production.
## Acceptance Criteria
- [x] cg-deploy-admin-ui is updated to deploy into the staging environment as well as production

[2016-06-10 17:18] afeld opened #68 "Ensure staging matches production"
In order to ensure we can reproduce any production problems in staging, we want any automated deployments to production happening in staging as well.

**Acceptance Criteria**
1. All deployments active in production are active in staging as well.

**Implementation sketch**
1. Audit the pipelines on https://ci.fr.cloud.gov and see which aren't deploying to staging.
2. Create stories in the relevant

[2016-06-11 00:48] mogul commented on #20
This story is mostly wrapped up via the PR referenced above. All that remains is the tabletop exercise. @kimberbat and @jacobian, want to schedule something for late next week after people on the team have had a chance to get familiar with the doc/checklist?

[2016-06-11 00:52] mogul commented on #66
What's the blocker and what's the context/priority? Need enough context to decide if this goes in `Icebox` or `Backlog`.

[2016-06-11 01:00] cnelson commented on #66
The blocker is that terraform doesn't support scripting ELB SSL negotiation policies yet: https://github.com/hashicorp/terraform/pull/5637 So if we want to do this today, we'd have to do it with a hack like embedding cloudformation in a terraform config, or doing it with a shell script after terraform has run.

Not having this means we don't have the best TLS security we can as we have some older

[2016-06-11 01:36] dlapiduz commented on #58
Deployed

[2016-06-11 01:36] #58 closed, assigned to dlapiduz

[2016-06-11 02:11] afeld commented on #41
[moved up top -bret]

[2016-06-11 20:04] mogul commented on #66
They're almost certain to ask about it; Iceboxing for now, though.

[2016-06-11 20:08] mogul commented on #29
I think when we reviewed this in passing @NoahKunin said he's already written up those details, but I'm not sure... Noah?

[2016-06-12 02:39] dlapiduz opened #69 "(Re-)create metrics.fr.cloud.gov dashboards"
We just need to upload them, also we should make sure we are all admins in grafana.

[2016-06-12 02:44] dlapiduz commented on #59
We should plan to announce this around the time the assessment ends on 6/24. That way new tenants can deploy to govcloud directly.

If I had to make a rough plan I'd say:
- cloud.gov properties (move all the urls)
- sandboxes (terminate sandboxes in e/w)
- 18F owned properties (tock, myusa,etc)
- GSA stuff (oasis, calc)
- EPA?
- College Scorecard?

Also, we should try to get Diego as soon as possi

[2016-06-12 02:52] dlapiduz commented on #59
Also, this plugin will become handy to people wrangling more than one environment: https://github.com/guidowb/cf-targets-plugin

[2016-06-12 03:36] afeld opened #70 "Ensure read-only GovCloud access for everyone working on the Atlas theme"
In order to make sure that people working on Atlas are able to debug things happening in AWS without leaving behind undocumented/ephemeral state, we want them to have read-only access to inspect the AWS GovCloud environment.
## Original post, pre-discussion:

At the moment, doing things like modifying the secrets in S3 require logging into AWS. At the moment, those of us without GovCloud accounts

[2016-06-12 03:55] dlapiduz opened #71 "Firewall for Nessus"
In order to improve security-in-depth in case the Nessus Manager is compromised, we want to restrict the set of IP address which can access Nessus
- [x] Users on the public internet are unable to connect
- [x] Users on GSA VPN are able to connect
- [x] Configuration is done via Terraform

[2016-06-12 03:56] dlapiduz commented on #71
Maybe we can have a (private?) repo that lists IPs and a terraform job in concourse that updates a SG.

[2016-06-13 17:01] afeld commented on #60
According to @sharms, this is no longer needed, so closing in favor of https://github.com/18F/cg-docs/issues/278.

[2016-06-13 17:01] #60 closed, assigned to nobody

[2016-06-13 17:41] #40 closed, assigned to afeld

[2016-06-13 17:59] jmcarp commented on #14
Based on conversation with @sharms and @frsfx:
- [ ] Write a concourse resource for snort rules
- [ ] Add job to https://ci.fr.cloud.gov/pipelines/deploy-bosh to fetch rules and cut new bosh releases

[2016-06-13 18:06] dlapiduz opened #72 "Loose ties in GovCloud"
- [ ] dashboards in metrics
- [ ] metrics not being collected (I can't see them)
- [x] events not logging in logsearch
- [ ] firewall for concourse and nessus #71

[2016-06-13 21:49] mogul commented on #59
I agree we should try to arrange this around the deployment of Diego, so that people get a benefit rather than just the inconvenience: "Now you're going to be on GovCloud for additional ATO goodness, and you'll be able to opt into a backend which enables you to SSH directly into apps!" Will be doing that with high priority, but I expect some complications we can't foresee will arise; setting a 6/2

[2016-06-13 22:01] mogul commented on #25
What's needed to call this done now?

[2016-06-13 22:11] dlapiduz commented on #59
I am not saying we should move everyone on 6/24... I doubt we will have diego production ready then.

[2016-06-13 22:26] #39 closed, assigned to afeld

[2016-06-14 05:13] #1 closed, assigned to cnelson

[2016-06-14 05:15] mogul opened #73 "Review AC controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:16] mogul opened #74 "Review AT controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [x] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:16] mogul opened #75 "Review CA controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:17] mogul opened #76 "Review CM controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:18] mogul opened #77 "Review CP controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [x] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:18] mogul opened #78 "Review IA controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:18] mogul opened #79 "Review IR controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [x] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:19] mogul opened #80 "Review PL controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:19] mogul opened #81 "Review PS controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:19] mogul opened #82 "Review RA controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:20] mogul opened #83 "Review SA controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:20] mogul opened #84 "Review SC controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 05:20] mogul opened #85 "Review SI controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 15:57] dlapiduz commented on #76
Done!

[2016-06-14 16:32] mogul commented on #25
I'm moving this to Awaiting Acceptance. Can someone else do the honors of marking this one Closed?

[2016-06-14 16:33] mogul commented on #43
pinging

Can we close this now?

[2016-06-14 16:45] sharms opened #86 "GovCloud Asset Review / Security Scan"
Working with Matt from Veris

[2016-06-14 18:25] mogul commented on #80
There was a mix-up and I ended up meeting with Veris about PL even though it's not done yet... I [left some feedback](https://github.com/18F/cg-compliance/issues/80#issuecomment-225971501) on the issue about filling in the PL controls. I'm putting this card back into the `Backlog` because it's almost certain that we'll want to review this one again.

[2016-06-14 18:28] mogul opened #87 "Review MP controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 18:29] mogul commented on #87
@diego had this meeting with Veris. He says we need to change the language in this section to be explicit about the fact that we are inheriting these controls via Amazon, rather than "not applicable", and list them as implemented.

[2016-06-14 18:37] mogul opened #88 "Review AU controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 18:58] mogul opened #89 "Review PE controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 18:58] mogul commented on #89
@diego had this meeting with Veris. He says we need to change the language in this section to be explicit about the fact that we are inheriting these controls via Amazon, rather than "not applicable", and list them as implemented.

[2016-06-14 19:01] mogul commented on #88
@dlapiduz already met with Veris on this one.
- AU-3 (1) needs to remove the section about BOSH CLI

[2016-06-14 19:04] mogul opened #90 "Review MA controls with 3PAO"
Review this control set with Veris, using an appointment booked [via the slots on this calendar](https://calendar.google.com/calendar/selfsched?sstoken=UU9UdXpUUXJCRTlwfGRlZmF1bHR8NjAzYTgxMjBkYzQ2OWYxYTk1Y2ExMzkzZWQ2NWNiNWI).

**Acceptance Criteria**
- [ ] Any notes on changes needed in the text is recorded as "docs" in our [followups doc](https://docs.google.com/document/d/1jKVeBO4rodrtpLer0ELtcW

[2016-06-14 19:04] mogul commented on #90
@dlapiduz had this meeting with Veris. He says we need to change the language in this section to be explicit about the fact that we are inheriting these controls via Amazon, rather than "not applicable", and list them as implemented.

[2016-06-14 19:05] mogul commented on #76
Per @dlapiduz we need to create a story about a configuration management plan as a remediation for this one before we can close it.

[2016-06-14 20:45] mogul opened #91 "Ensure everything in the cloud.gov SSP .docx is represented in cloud.gov's CM YAML"
In order to be able to generate new SSPs based on the .docx cloud.gov SSP in future, we want all cloud.gov SSP content to be captured in Compliance Masonry YAML.

**Implementation sketch**
- [ ] Label which control families are **only** in the Word .docx and need to be curried back to YAML
- [ ] Identify the canonical "implementation state" and "control origination" source (eg the CIS Excel sheet)

[2016-06-15 04:42] mogul commented on #86
Can you edit the post at the top to elaborate what's in scope here, what the intended outcome will be, and what we'll have to show for it? Also should this be In Progress?

[2016-06-15 04:47] mogul commented on #62
Can you groom this one a bit so I know what to do with it?

[2016-06-15 05:01] mogul opened #92 "RIR-A: Practice IR plan with tabletop exercise"
In order to get the team familiar with [our new Incident Response Plan](https://docs.cloud.gov/ops/security-ir/) ensure we're able to follow it well-enough to satisfy compliance requirements, and identify potential improvements, we should run a tabletop exercise with @kimberbat and @jacobian.

**Acceptance criteria**
- [x] We document the results of a tabletop exercise of our IRP involving everyon

[2016-06-15 05:02] mogul commented on #20
Moved the actual tabletop exercise of the plan to 18F/cg-atlas#92 so we can close this one off.

[2016-06-15 05:02] #20 closed, assigned to nobody

[2016-06-15 05:03] dlapiduz commented on #71
@LinuxBozo says we should only this for nessus

[2016-06-15 05:26] mogul commented on #43
Closing as I'm pretty sure there's nothing left to do here.

[2016-06-15 05:26] #43 closed, assigned to sharms, jmcarp

[2016-06-15 05:27] mogul commented on #25
OK, giving up and closing it myself... To my knowledge any additional work is already captured in other cards.

[2016-06-15 05:27] #25 closed, assigned to nobody

[2016-06-15 05:40] dlapiduz opened #93 "Ensure metrics.fr.cloud.gov is collecting metrics"
The metrics are not being collected.

[2016-06-15 05:40] #72 closed, assigned to nobody

[2016-06-15 05:40] dlapiduz commented on #72
Closing in favor of other issues

[2016-06-15 05:55] dlapiduz commented on #62
copied from #57

[2016-06-15 07:01] mogul commented on #91
@clovett3: Once you've finished filling all the control families in on the Word .docx, please apply the `only-in-word` tag to the appropriate [issues in this list](https://github.com/18F/cg-compliance/issues?utf8=%E2%9C%93&q=is%3Aissue+%22fill+in%22+controls) so we can start tracking what needs currying back to YAML.

[2016-06-15 07:48] mogul commented on #41
Is this all done now? Or is the second checkbox blocked waiting on SSP work?

[2016-06-15 14:37] afeld commented on #41
Yep. And it's more of a nuisance to work on while the repository is still private.

/cc @jeremiak @msecret

[2016-06-15 14:59] mogul commented on #41
Yep it's done, or yep it's blocked waiting on SSP work?

[2016-06-15 15:00] ghost commented on #91
Understood

[2016-06-15 15:01] afeld commented on #41
Sorry; I have not worked on the pipeline yet because I am focusing on the SSP.

[2016-06-15 15:02] mogul commented on #91
(It probably goes without saying, but the label should apply for families where edits to existing YAML only exist in the .docx as well.)

[2016-06-15 21:05] afeld opened #94 "go through boshrelease forks to find which we don't need anymore"
https://github.com/18f/?utf8=%E2%9C%93&query=boshrelease+only%3Aforks+

[2016-06-15 21:08] afeld commented on #94
Also, see where it makes sense to contribute the changes upstream.

From @rogeruiz [in Slack](https://18f.slack.com/archives/cloud-gov-atlas/p1466024605000423):

[2016-06-15 22:05] afeld opened #95 "[research: 3d] Figure out how to improve platform secrets management"
In order to know how to reduce friction and risk from manual secrets-handling, we want to spend up to 3 days discussing and prototyping options for better secrets management.

**Acceptance Criteria**
- [ ] We can write stories for how we actually want to improve what we're doing and quantify the effort involved.

---

We, as a team, feel that there's a lot of room for how we manage secrets for the

[2016-06-16 00:06] mogul commented on #59
Notes on this topic from retro today, to end up in separate issues later:
- Diego wants us to get a draft plan up and announced that makes it clear what's going to happen, how users can transition now, even ahead of DEAgo being available, if they wish, and provides guidance on how to do that (eg dumping/restoring their service instances, changing API endpoints).
- Team wants to help people underst

[2016-06-16 01:43] dlapiduz commented on #9
Should we close this since there are no more jumpboxes?

[2016-06-16 16:52] rogeruiz commented on #76
@LinuxBozo actively working on this.

[2016-06-16 16:53] rogeruiz commented on #78
@dlapiduz did this yesterday. 💯

[2016-06-16 16:53] #78 closed, assigned to nobody

[2016-06-16 16:54] rogeruiz commented on #79
@LinuxBozo Reviewed with Veris yesterday, comments in docs.

[2016-06-17 14:27] LinuxBozo opened #96 "Upgrade CF"
In order to serve our tenants by eliminating issues with the API, and increasing overall stability in the platform, the cloud.gov team needs to upgrade to the newest version of CloudFoundry
- [ ] CF version is upgraded to v237

[2016-06-17 16:51] #74 closed, assigned to nobody

[2016-06-17 16:51] #79 closed, assigned to nobody

[2016-06-17 16:52] #77 closed, assigned to nobody

[2016-06-17 16:52] #76 closed, assigned to dlapiduz

[2016-06-17 16:52] #87 closed, assigned to nobody

[2016-06-17 16:52] #89 closed, assigned to nobody

[2016-06-17 16:52] #90 closed, assigned to nobody

[2016-06-17 17:40] #88 closed, assigned to nobody

[2016-06-17 17:41] #73 closed, assigned to nobody

[2016-06-17 17:41] #75 closed, assigned to nobody

[2016-06-17 17:41] #83 closed, assigned to nobody

[2016-06-17 17:42] #82 closed, assigned to nobody

[2016-06-17 17:42] #84 closed, assigned to nobody

[2016-06-17 17:42] #85 closed, assigned to nobody

[2016-06-17 17:47] #81 closed, assigned to nobody

[2016-06-17 20:47] dlapiduz commented on #80
Going to close this because there isn't going to be a new PL session, they are just going to review the SSP.

[2016-06-17 20:47] #80 closed, assigned to nobody

[2016-06-17 21:52] mogul commented on #54
Icebox'ing this unless someone tells us it's required for compliance... Not sure where it came from.

[2016-06-17 22:14] mogul commented on #9
Closing as there's no jumpbox in AWS GovCloud. (There still are in the E/W deployment, but we'll be dusting off of that soon and it's not in the assessment boundary.)

[2016-06-17 22:14] #9 closed, assigned to nobody

[2016-06-17 22:20] mogul commented on #92
@kimberbat @jacobian if we can possibly get through this with the team before next Friday we can avoid having to account for it in the FedRAMP SAR and POA&M... Do you think it's possible? If so can you schedule the meetings?

[2016-06-17 22:21] mogul commented on #38
Icebox'ing for now; will look at it again once we've got Diego deployed.

[2016-06-17 22:23] mogul commented on #62
@sharms didn't you say at stand-up today that you were working on this? If so can you put it `In Progress`?

[2016-06-17 22:36] mogul commented on #86
@sharms _ping_ can you tell us what this is about?

[2016-06-18 00:17] jacobian commented on #92
@mogul I can make this happen next week. It'll be a bit rough and rushed -- call it a "beta test" of our training :) -- but I can make it happen. I'm not sure who needs to be involved, or their schedules, so can you take care of scheduling some time with the appropriate team member(s) and I? I don't have anything on my calendar that can't be moved, so feel free to schedule whenever. I think we sho

[2016-06-18 03:12] mogul commented on #16
Closing as dupe of 18F/cg-product#23

[2016-06-18 03:12] #16 closed, assigned to nobody

[2016-06-18 05:31] mogul commented on #92
A beta test is fine... It'll always be a work in progress anyway, right? :) I scheduled meetings for next Thursday and Friday on the cloud.gov calendar.

/cc @18F/cloud-gov-ops

[2016-06-18 05:32] mogul commented on #29
@clovett3 Can you please review the list above and make sure it's accurate? In particular, please call out anything that we're doing which is "above and beyond"; we have a lot of FedRAMP stuff to do already before July 21st. :)

[2016-06-20 15:01] sharms commented on #86
Worked with Matt Chaiko from Veris to work through security scanning and demonstrate those scans with a external party present.  I have sent the final results to Matt so unless I hear anything back this can be closed.

[2016-06-20 15:12] mogul commented on #51
I've removed the AC about rendering directly into the Word doc, as this is otherwise done and no longer blocking our progress.

[2016-06-20 15:12] #51 closed, assigned to nobody

[2016-06-20 18:35] afeld commented on #86
Keeping this open- still working with Matt, but this should be all done tomorrow.

[2016-06-20 19:54] afeld commented on #86
- [x] https://admin.fr.cloud.gov/ ?
- [x] https://api.fr.cloud.gov/
- [x] https://ci.fr.cloud.gov/
- [x] https://community.fr.cloud.gov/
- [x] https://console.fr.cloud.gov/ (needs AJAX spidering)
- [x] https://docs.fr.cloud.gov/
- [x] https://invite.fr.cloud.gov/
- [x] https://landing.fr.cloud.gov/
- [x] https://login.fr.cloud.gov/
- [x] https://logs.fr.cloud.gov/
- [x] https://metrics.fr.cloud.go

[2016-06-21 00:40] mogul commented on #69
I guess [this is the relevant page in the docs](https://docs.cloud.gov/ops/metrics/)?

[2016-06-21 14:35] afeld commented on #86
Results uploaded to [Google Drive](https://drive.google.com/a/gsa.gov/folderview?id=0B5fn0WMJaYDnaFdCak5WNWRGb1U&usp=sharing) and sent to Matt.

[2016-06-21 14:35] #86 closed, assigned to afeld, sharms

[2016-06-21 15:22] sharms opened #97 "Make Concourse Intercepts great again"
As the cloud.gov team, we need to be able to use temporary containers to do troubleshooting of bosh deployments
- [x] A concourse job can be run that provides a temporary container that can be intercepted with BOSH cli access

[2016-06-21 15:27] afeld commented on #97
Is that preferable to using the [Docker Hub Automated Builds](https://docs.docker.com/docker-hub/builds/)?

[2016-06-21 17:55] mogul commented on #71
@dlapiduz Is this still necessary? @sharms is saying he thinks the necessary restrictions are already in place.

[2016-06-21 17:56] dlapiduz commented on #71
Not in govcloud...

[2016-06-22 02:42] mogul commented on #71
Ah, but in E/W? Then I'll leave it prioritized as-is.

[2016-06-22 02:49] dlapiduz commented on #71
Just to be clear:
- There is a firewall in E/W
- There is no firewall in GovCloud

[2016-06-22 02:55] dlapiduz commented on #96
This is done in E/W, we need to investigate GovCloud...

[2016-06-22 03:04] mogul commented on #71
Okay!

[2016-06-22 13:53] ghost commented on #29
@mogul  the list looks accurate to me. The main thing for GSA OCISO is the documentation around third party tools and the auditing of the jump boxes and if MFA is incorporated on them. The vulnerabilty scanning has been implemented with GSA ISO.

[2016-06-22 15:45] LinuxBozo commented on #97
https://ci.fr.cloud.gov/pipelines/jumpbox

[2016-06-22 15:50] afeld commented on #97
/cc https://github.com/18F/cg-docs/issues/278

[2016-06-22 17:04] mogul commented on #96
Was blocked on stuck box in staging, but is unblocked now, deploy is in progress.

[2016-06-22 19:51] #97 closed, assigned to sharms, LinuxBozo

[2016-06-22 19:51] #93 closed, assigned to nobody

[2016-06-22 19:51] #69 closed, assigned to nobody

[2016-06-23 00:57] mogul commented on #29
@clovett3 So these two parts are not explicitly necessary?

[2016-06-23 00:59] mogul commented on #12
(For future reference: This was one of the expected [GSA LATO remediations](https://github.com/18F/cg-atlas/issues/29#issue-154785205).)

[2016-06-23 01:03] mogul opened #98 "Document third-party service integrations"
In order to ensure cloud.gov's 90-day GSA LATO is extended, the cloud.gov team must address GSA ISSO concerns about integrations with third-party services by July 21st.

**Acceptance Criteria**
- [ ] Identify each third-party service cloud.gov uses.
- [ ] For each service, describe what data is stored, how connections are secured, how it is accessed, etc
- [ ] Submit the information for GSA ISSO a

[2016-06-23 16:50] mogul commented on #96
Completed last night per @LinuxBozo

[2016-06-23 16:50] #96 closed, assigned to LinuxBozo

[2016-06-24 22:25] mogul commented on #92
The tabletop/roleplay exercise has been completed! Notes from both the training and the exercise are here:
https://docs.google.com/document/d/1VpO04KLFLY66Mfv6Wklf-KUQJW03mX3f29XfsR5_mYY/edit#heading=h.wcm2izxfr8kd

[2016-06-24 22:26] mogul commented on #92
@afeld: Can you list the set of people who attended each of the two meetings by referring to the recording? And can you place a link to the recording (in Drive) here?

[2016-06-27 14:24] jmcarp opened #99 "Fix logs on staging"
I noticed that CF logs on staging aren't working--running `cf logs` fails with the following:

From @sharms via slack:

[2016-06-27 20:02] mogul commented on #10
(Feel free to finish this @sharms, but I'm disconnecting it from the epic about FedRAMP remediations since we're in a clean state right now.)

[2016-06-27 20:21] jmcarp opened #100 "Identify snort rules to use"
For use with https://github.com/18f/cg-snort-boshrelease. See also https://github.com/18F/cg-atlas/issues/14.

Possible rule sets:
- Snort community rules
- Snort registered rules
- EmergingThreats rules
- SourceFire VRT rules

cc @NoahKunin @kimberbat @mogul @frsfx

[2016-06-27 20:34] dlapiduz commented on #99
Created a wildcard cert with a couple more domains on it... should be good now

[2016-06-27 20:34] #99 closed, assigned to nobody

[2016-06-27 21:30] afeld commented on #92
Training attendees:
- @afeld
- @brittag
- @jacobian
- @jbarnicle
- @kimberbat
- @LinuxBozo
- @mogul
- @rogeruiz
- @thisisdano

Exercise attendees:
- @afeld
- @brittag
- @dlapiduz
- @jacobian
- @jbarnicle
- @jmcarp
- @kimberbat
- @LinuxBozo
- @mogul
- @rogeruiz
- @sharms

Will upload the recordings and post the links here soon.

[2016-06-28 01:06] afeld commented on #92
Uploaded the video of the [training](https://drive.google.com/open?id=0B5fn0WMJaYDnX3BDMTQ3SDA2c2s) and the [exercise](https://drive.google.com/open?id=0B5fn0WMJaYDnRUJuVWxRUDRVQmM). Anything formal need to be done around the `Document the results` task, or are the videos and the notes doc sufficient to close this?

[2016-06-28 14:37] jacobian commented on #92
I can write a brief report if it's needed. LMK if you need me to do that.

[2016-06-28 14:47] dlapiduz commented on #92
@jacobian I'd love a non official debrief of what things we got wrong and what we can improve...

[2016-06-28 16:16] ghost opened #101 "Determine Diego sizing"
To ensure we can adequately service customers, as ops engineers we need to appropriately size our Diego deployment.
#### Acceptance Criteria
- [x] Establish manifest parameters with regards to size and number of Diego cells and other components
- [x] Determine and document thresholds where sizing should be adjusted
#### Implementation Sketch
- Maybe look at how big our DEA footprint is?

[2016-06-28 16:18] ghost opened #102 "Deploy Diego"
In order to make Diego available to platform users, as ops engineers we need to deploy Diego integrated with the existing CF deployment.
#### Acceptance Criteria
- [x] A concourse pipeline task that pulls in the dynamically generated CF manifest and feeds it to the Diego manifest generation script
- [ ] A concourse pipeline that deploys an appropriate version of Diego for the deployed version of C

[2016-06-28 17:22] afeld commented on #91
- [ ] Document what features are missing from Masonry to allow it to fully generate the SSP

[2016-06-28 17:39] rogeruiz commented on #95
Related to the work on #33

[2016-06-28 18:44] afeld commented on #92
Anything official that's still required? @clovett3 do you know?

[2016-06-29 17:18] jmcarp commented on #14
Here's an alert!

<img width="726" alt="screen shot 2016-06-29 at 1 13 45 pm" src="https://cloud.githubusercontent.com/assets/1633460/16461728/f2b6e5e0-3dfb-11e6-8ceb-e0c9e4609051.png">

[2016-06-29 21:32] afeld commented on #12
@LinuxBozo Mind posting an update here, including any open questions?

[2016-06-29 21:40] afeld commented on #95
- [ ] Re-reframe this as a research sprint

[2016-06-30 03:50] NoahKunin commented on #29
Hi @mogul @clovett3 - sorry I'm just seeing this now. Mentions are way too overwhelming, so if I have actions I need to take, I really need to be assigned to an Issue.

In any case, just let me know exactly _where_ I should document GitHub and New Relic and what I need to say about them. Thanks!

Also I updated the check list above the vuln scanning is resolved.

[2016-06-30 03:59] NoahKunin commented on #12
Just to echo @afeld, and not to put any pressure but just to be realistic, if we don't have this by July 21st, it will be highly problematic for the next ATO (the bridge ATO between the 90-day and the FedRAMP P-ATO).

[2016-06-30 13:36] LinuxBozo commented on #12
Going over things with @clovett3 and Rajat, as I understood it, the remediation was for MFA, regardless of the implementation. Currently, we are leveraging MFA via GitHub authentication to Concourse, and I walked them through that process (also documented here: https://docs.cloud.gov/ops/troubleshooting-bosh/)

[2016-06-30 13:50] jmcarp commented on #41
@afeld: looks like this got started in https://github.com/18F/cg-deck/blob/concourse/ci/pipeline.yml. I'm assuming I should work off that?

[2016-06-30 16:48] #92 closed, assigned to afeld

[2016-06-30 16:52] rogeruiz commented on #67
Ran into the stemcell issue 18F/cg-deploy-admin-ui#8

[2016-06-30 17:07] jbarnicle commented on #91
implementation_status and control_origination can potentially have multiple checked values in the .docx, but can only be strings in the .yaml.  Need to update .yaml to accept multiple values for these fields.

[2016-06-30 20:06] msecret commented on #41
The console deployment is going to change this week due to the refactor launch, I suggest we wait for that before we move to concourse, unless it's pressing.

[2016-06-30 20:20] jmcarp commented on #41
@msecret: the WIP concourse pipeline is deploying the staging-alpha branch, which iirc is what @afeld deployed manually to console.fr.cloud.gov. If that's the refactor branch, any reason not to finish the pipeline?

[2016-06-30 20:30] rogeruiz commented on #14
I went ahead and merged those PRs in @jmcarp. I'll move this into Awaiting Acceptance as I watch Concourse turn green 🍏 .

[2016-06-30 21:30] msecret commented on #41
I guess I'll explain what's changing and you can make the decision on whether we can complete the work, as I'm not 100% sure what the work is to move from travis to concourse:
- We're changing the prod deployment to only be on tags and of the `master` branch. This will deploy to the new `dashboard.cloud.gov` URL.
- We're deploying to `dashboard-staging.cloud.gov` from the `staging` branch.
- We'll

[2016-07-01 03:18] afeld commented on #41
Sorry, should have made a work-in-progress pull request!

Just to clarify, that was built to deploy the `staging-alpha` branch to https://console.fr.cloud.gov. Travis is still set up to deploy `master` to https://console.cloud.gov.

[2016-07-01 14:04] jmcarp commented on #41
@msecret: https://github.com/18F/cg-deck/pull/406 supports arbitrary branch/tag-based deploy rules, and the example configuration only deploys to prod on tagged commits to `master`. Once we figure out how to get you access to whichever concourse is going to run this job, I'd be happy to show anybody on liberator how this works.

[2016-07-01 16:52] mogul commented on #67
Still needs someone to actually log in and check it.

[2016-07-01 16:56] mogul commented on #14
We will pick a rule that Snort should alert on, and use that to demo that this works, and for the sprint review. (Diego thinks this will make a good tech talk too.)

[2016-07-01 16:59] sharms commented on #71
https://github.com/18F/cg-provision/pull/40

[2016-07-01 17:39] msecret commented on #41
Sounds good @jmcarp , I'd be happy to pair with you on it.

[2016-07-01 19:27] dlapiduz commented on #67
checked! works

[2016-07-01 19:27] #67 closed, assigned to rogeruiz

[2016-07-01 20:23] #71 closed, assigned to sharms

[2016-07-01 22:17] ghost opened #103 "Add admin-ui register_admin_ui errand to pipeline"
In order to have the admin-ui deployment fully automated, as SREs we need to add the `register_admin_ui` bosh errand to the concourse pipeline in `cg-deploy-admin-ui`.
## Acceptance Criteria
- [ ] The `register_admin_ui` bosh errand is run after each admin-ui deployment.

[2016-07-01 22:19] ghost commented on #103
Thanks to @LinuxBozo for pointing out errand examples:

"See the cg-pipelines task to enable running errands.. see cg-deploy-logsearch pipeline for example usage.. the push-kibana job"

"also, same thing is in cg-deploy-cf for running the smoke/acceptance tests"

[2016-07-01 22:32] ghost commented on #103
And great input from @sharms:

https://github.com/18F/cg-deploy-logsearch/blob/master/pipeline.yml#L63-L71

you can literally just take that, and rename it

[2016-07-01 22:56] sharms commented on #103
https://github.com/18F/cg-deploy-admin-ui/pull/14

[2016-07-01 22:56] #103 closed, assigned to nobody

[2016-07-05 16:07] ghost commented on #29
@NoahKunin the Githulb Documentation is listed here https://docs.google.com/a/gsa.gov/document/d/1DujX9B_VWxzkOu4LXljwBEdSsIvPJEmIYKAgHrBj4ss/edit?usp=sharing.  @mzia had a few comments listed in the doc file

[2016-07-05 17:05] #14 closed, assigned to jmcarp

[2016-07-05 17:30] afeld opened #104 "post recording of architecture walkthrough"
...from meeting on 7/1 w/ @LinuxBozo.

[2016-07-05 18:13] mogul commented on #102
Mike's going to start pushing up branches so that other people can see work-in-progress via a PR

[2016-07-05 18:24] ghost commented on #102
WIP pushed to https://github.com/18F/cg-deploy-diego

[2016-07-05 18:47] sharms commented on #95
Related: https://github.com/concourse/concourse/issues/291

[2016-07-06 16:59] rogeruiz commented on #41
We're going to keep Travis for deployment for this. We will need to update Travis to deploy this to `govcloud`

[2016-07-06 17:57] mogul commented on #95
From #general in the CF slack...
![image](https://cloud.githubusercontent.com/assets/47762/16628902/79d4c7ba-4368-11e6-85e0-177f799e7baa.png)

[2016-07-06 21:48] mogul commented on #12
So how would we audit individual users making use of this facility to get a shell? Is there an audit log for Concourse anywhere, and a filtered view of these kinds of requests in particular that we can refer people to?

[2016-07-07 16:59] mogul commented on #91
This is blocked until the two opencontrol issues referenced above are resolved.

[2016-07-07 17:16] rogeruiz commented on #62
Related :eyes: https://github.com/18F/cg-deploy-bosh/pull/9

[2016-07-07 17:22] mogul commented on #98
@clovett3 referred to an existing document here...
https://github.com/18F/cg-atlas/issues/29#issuecomment-230524116

It looks like it still needs eyes and editing.

[2016-07-07 18:01] ghost opened #105 "Diagnose deploy-bosh/deploy-staging-bosh failures"
Determine why new builds are failing.  Differences noted by `bosh deploy`:

Old versions:
    BOSH: 257.1
    stemcell: bosh-aws-xen-hvm-ubuntu-trusty-go_agent/3262
    bosh-aws-cpi: 53

New versions:
    BOSH: 257.3
    stemcell: bosh-aws-xen-hvm-ubuntu-trusty-go_agent/3262.2
    bosh-aws-cpi: 54

[2016-07-07 18:46] ghost opened #106 "bosh health_monitor cannot get deployments from director"
An apparent authentication issue is preventing the bosh health_monitor from listing the deployments from the bosh director.

/var/vcap/sys/log/health_monitor/health_monitor.log:

[code]

/var/vcap/sys/log/director/director.stderr.log:

[code]

[2016-07-07 20:28] ghost commented on #105
Apparently, VMs using this stemcell are failing to boot, at least is us-east-1

https://cloudfoundry.slack.com/archives/bosh/p1467923069001921

@jmcarp and I observed that the System Log for the VMs aren't even displayed in the AWS Console; the VM shuts down and terminates before anything is logged.

[2016-07-07 22:18] ghost commented on #105
I manually replaced our existing stemcell 3262.2 (built with Jenkins) with one that Pivotal built with concourse, and now bosh staging deploys.

I see some differences between the two stemcells and am working with the Pivotal guys to figure out what’s up.

Production bosh updated too.

[2016-07-08 13:08] frsfx commented on #62
@rogeruiz let me know when you're online.  I'd like to work with you on this.

[2016-07-08 14:05] jcscottiii opened #107 "Move console client settings to cf-properties in cg-deploy-cf"
Right now, the console client must be set up manually via uaac. This is something to consider when trying to deploy the platform from scratch.

I'm not sure if this matters since we decided to keep deploying the console / dashboard via travis and not concourse

[2016-07-08 14:28] jmcarp opened #108 "Monitor elastic cluster health"
We should get paged when the elastic cluster health is red or yellow. Riemann has an elastic monitoring tool that could be helpful: https://github.com/riemann/riemann-tools/blob/master/tools/riemann-elasticsearch/bin/riemann-elasticsearch

cc @dlapiduz @sharms @LinuxBozo

[2016-07-08 16:35] ghost commented on #105
Looking at the debug logs, I found the issue to be that bosh was using an invalid, locally-created ami (ami-0766de10) instead of the one specified in the bosh.io 3262.2 stemcell (ami-613ef00c).

Note the `Description` below:

AMI used when VM creation was failing:

[code]

AMI specified by the bosh.io 3262.2 stemcell:

[code]

[2016-07-08 16:39] ghost commented on #105
The AMI id was found in the `bosh task nnnn --debug` logs.

[2016-07-08 17:02] rogeruiz commented on #105
👀 https://www.pivotaltracker.com/n/projects/1133984/stories/124181901

[2016-07-08 19:45] ghost opened #109 "Fix cg-aws-light-stemcell-builder"
This process/pipeline is broken.  Builds are failing due to a file glob issue and we also need to remove the conversion to vmdk step that was also removed upstream in https://github.com/cloudfoundry-incubator/aws-light-stemcell-builder/commit/59ac7f7651d5db04b10edf8233dc8fa0abf04629.
- [x] Remove the conversion to vmdk
- [x] General fixes and cleanup

[2016-07-08 19:46] ghost commented on #109
Related to #105

[2016-07-08 19:49] jmcarp opened #110 "Replace collectd system metrics with bosh health monitor"
It sounds like the system health metrics we're getting from collectd are also available from the bosh health monitor. We should be able to use the bosh health monitor metrics instead and install one less job on all our VMs.

cc @sharms

[2016-07-10 10:02] ghost opened #111 "Aggregate platform logs"
As an SRE, I should be able to utilize aggregated platform logs in a system such as ELK.
## Acceptance Criteria
- [ ] CF component logs are sent to ELK via `syslog_daemon_config`

[2016-07-10 18:32] ghost opened #112 "Research why e/w prod DEAs show OFFLINE state in admin-ui"
<img width="879" alt="deas-offline" src="https://cloud.githubusercontent.com/assets/9683151/16715347/f19a2c64-4691-11e6-84c7-6d3309e04fc0.png">

[2016-07-10 18:35] ghost commented on #112
The OFFLINE state is displayed for other components/instances as well:

[code]

[2016-07-11 15:45] jmcarp opened #113 "Integration test: Are logs coming through?"
As an SRE, I want to be paged when logs.cloud.gov stops receiving logs for any reason.

Note: this is one of the proposed countermeasures from the retro on the recent logs.cloud.gov outage.
## Implementation sketch
- https://gist.github.com/jmcarp/625cca3bb454409e3c6f9be97746f24f
- https://github.com/18F/cg-riemann-boshrelease/pull/9

[2016-07-11 15:52] jmcarp opened #114 "Implement high-availability cache for logs.cloud.gov"
The caching layer in logs.cloud.gov uses a single redis instance, so we'll lose logs if this instance becomes unavailable. Proposal: make the caching layer highly available.

Note: this is one of the proposed countermeasures from the retro on the recent logs.cloud.gov outage.
## Options:
- Use redis sentinel for redis master election and failover
- Use consul for redis master election and failover

[2016-07-11 15:59] jmcarp opened #115 "Chaos bot for logs.cloud.gov"
In order to rehearse recoveries and improve our ability to offer a reliable logs service, we want a chaos bot that will mess with it.

---

Note: this is one of the proposed countermeasures from the retro on the recent logs.cloud.gov outage.

IIRC, we talked about @rogeruiz doing this at the retro.

[2016-07-11 16:43] jcscottiii commented on #41
https://github.com/18F/cg-deck/pull/458 solves this and `Move console app credentials to credential service` issue https://github.com/18F/cg-deck/issues/322

[2016-07-11 16:49] jcscottiii commented on #41
Also, need deployer creds for govcloud environment for cg-deck. can be named `cg-deck-deployer`

[2016-07-11 16:55] mogul commented on #62
Roger's update in Slack today:

[2016-07-11 18:12] ghost commented on #109
https://github.com/18F/cg-aws-light-stemcell-builder/pull/4

[2016-07-11 18:13] ghost commented on #105
This issue was due to cg-aws-light-stemcell-builder being broken.  In addition, the deployed `deploy-bosh` pipeline is pulling from bosh.io, rather than pulling from our S3 bucket, the stemcell output location from cg-aws-light-stemcell-builder .

[2016-07-11 19:53] rogeruiz opened #116 "Deploy riemann to tooling environment"
Tooling VPC doesn't have an instance of the riemann server.

Discovered during #62

[2016-07-11 19:58] rogeruiz opened #117 "Common releases jobs need to exist for Master bosh"
The following releases all need to be uploaded to Master bosh in order for Tooling bosh to be deployed.
- [ ] fisma (cg-hardening)
- [ ] tripwire
- [ ] awslogs
- [ ] nessus-agent
- [ ] newrelic
- [ ] riemannc
- [ ] clamav
- [ ] snort

Discovered during #62

[2016-07-11 19:59] rogeruiz opened #118 "Ensure Master bosh can access common releases jobs"
In order to minimize the effort needed to can deploy a new environment from scratch, we want to make sure we can easily provide updated versions of common release jobs.

#The following releases all need to be publicly accessible for Master bosh. These releases will all need a `URL` and a `sha1`.
- [ ] fisma (cg-hardening)
- [ ] tripwire
- [ ] awslogs
- [ ] nessus-agent
- [ ] newrelic
- [ ] riemann

[2016-07-11 20:05] ghost opened #119 "Audit and reconcile bosh.io stemcell use"
As an SRE, I need to be sure we are using 18F-generated stemcells rather than the community stemcells listed on bosh.io.
## Acceptance Criteria
- [ ] No currently-deployed pipelines in ci.cloud.gov use the concourse `bosh-io-stemcell` resource
- [ ] No currently-deployed pipelines in ci.fr.cloud.gov use the concourse `bosh-io-stemcell` resource
- [ ] No pipelines found in the `cg-deploy-*` repos r

[2016-07-11 20:07] ghost commented on #119
A quick check of ci.cloud.gov reveals several pipelines using the community stemcell:

[code]

[2016-07-11 20:57] LinuxBozo commented on #62
There will be a somewhat intermediate problem as we currently rely on DNS resolution for the riemann/collectd server instance. This DNS resolution is provided by BOSH itself for all it's deployments, so anything deployed with staging BOSH knows about `0.monitoring.monitoring.monitoring-staging.bosh`. Staging BOSH itself will not know anything about this, since it's own DNS is pointed to tooling BO

[2016-07-12 14:55] ghost commented on #105
When the pipeline was updated to pull from our S3 bucket, concourse reported "error running command: missing path in request”.  This was apparently due to worker caching and the resolution was to rename the resource.

According to this post in Slack in the cloudfoundry #bosh channel, possible solutions were to either rename the resource or recreate the worker:

https://cloudfoundry.slack.com/archi

[2016-07-12 17:10] mogul commented on #109
@dlapiduz we're doing work to ensure this is a lighter fork to maintain, but can you verify that it works and can be closed?

[2016-07-12 17:11] jmcarp commented on #105
PR against upstream here: https://github.com/cloudfoundry-incubator/aws-light-stemcell-builder/pull/4

[2016-07-12 17:11] mogul commented on #109
Confirmed working.

[2016-07-12 17:11] #109 closed, assigned to nobody

[2016-07-12 17:13] #105 closed, assigned to nobody

[2016-07-12 17:59] mogul commented on #70
Story definition edited above to reflect the discussion in grooming today.

[2016-07-12 18:00] mogul commented on #98
/cc @dlapiduz

[2016-07-12 18:25] ghost commented on #119
Confirming no pipelines in the govcloud region are using bosh.io stemcells below.  None found because bosh.io stemcells were incompat with the govcloud region, so we used our own stemcell builder and stemcells there.

[code]

_no output_

[2016-07-13 18:38] msecret commented on #41
LGTM

[2016-07-13 18:38] #41 closed, assigned to jcscottiii

[2016-07-13 21:04] ghost opened #120 "Reorder pipeline yaml files to match get-pipeline output"
As an SRE, I want to be able to easily compare currently deployed pipelines with those in the cg-deploy-\* repos.  Reordering groups and alphabetizing entries in our repo pipeline.yml to match the format of downloaded pipelines from concourse will allow us to easily compare using a diff tool.
## Acceptance Criteria
- [ ] Order is TBD
- [ ] Items are alphabetized

[2016-07-14 03:47] dlapiduz commented on #29
@clovett3 we also need to add pagerduty. I don't think we have any other integration

[2016-07-14 12:30] ghost commented on #29
@dlapiduz That's fine. We have pagerduty listed within the SSP and the system diagram.

[2016-07-14 14:18] sharms opened #121 "Re-prioritize Blobstore Encryption"
- Updated Encrypt Blobstore to run at lowest system priority: https://github.com/18F/cg-encrypt-blobstore-boshrelease/pull/8
- Update Encrypt Blobstore to run only on hours divisible by 3: https://github.com/18F/cg-encrypt-blobstore-boshrelease/pull/9

[2016-07-14 14:41] sharms opened #122 "Encrypt Cloud Controller Blobstores"
In order to provide end to end encrypted infrastructure the Cloud Controller Droplets / Blobstores should be encrypted

Acceptance Criteria:
- [ ] cc-\* resources show they are encrypted via AES256 in Amazon S3 Console

Related:
- https://github.com/18F/cg-deploy-cf/pull/93

[2016-07-14 14:41] jmcarp opened #123 "Reject S3 uploads without server-side encryption"
Buckets that must be encrypted should reject uploads that don't specify server-side encryption. Example policy: http://s3tools.org/kb/item11.htm
- [ ] Blobstores
- [x] Platform (buildpacks, droplets, etc)
- [ ] Buckets managed by concourse (stemcell, bosh releases)
- [ ] Secrets buckets (cloud-gov-varz, concourse-credentials)
- [ ] Terraform state

[2016-07-14 16:53] mogul commented on #108
Already demo'd as working in production.

[2016-07-14 16:53] #108 closed, assigned to jmcarp

[2016-07-14 16:53] mogul commented on #113
Already demo'd as working in production.

[2016-07-14 16:53] #113 closed, assigned to jmcarp

[2016-07-14 16:54] #121 closed, assigned to sharms

[2016-07-14 16:57] mogul commented on #62
Currently blocked on #116 #117 #118

[2016-07-14 20:57] sharms commented on #122
Closed by https://github.com/18F/cg-deploy-cf/commit/0fc02ae4cc593431d8eee93a6b8c2328099a4748

[2016-07-14 21:07] dlapiduz commented on #122
Cool! didn't know this was an option!

[2016-07-14 21:16] ghost opened #124 "Need to increase etcd instances to odd number"
As an SRE, to avoid data loss due to quorum failure, we need to ensure that quorum-based services such as consul and etcd are deployed with an odd number of instances.

consul is already deployed with an odd number; we just need to increase the etcd instance counts.
## Acceptance Criteria
- [ ] For both the CG and FR production deployments, increase the number of etcd instances to at least three.

[2016-07-14 23:52] ghost opened #125 "Create Runbook"
As an SRE, I should be able to refer to a runbook for general system and service overview, operational procedure reference, FAQs, points of contact, support and other critical account info, diagrams, and other information necessary to easily and effectively support the product.
## Acceptance Criteria
- [ ] A document created and available offline

[2016-07-15 16:31] sharms opened #126 "Fix EW Staging / Prod and Update Stemcells"
Current staging environment broken since 17 days ago without any new working deploys.  In order to test that release and features are at parity with GovCloud, we need these pipelines to work.
- [ ] Legacy cloud.gov deployment successfully deploys

[2016-07-15 16:51] #122 closed, assigned to sharms

[2016-07-15 16:51] rogeruiz commented on #122
@sharms can you pop in the screenshot?

[2016-07-15 16:59] jmcarp commented on #116
PR at https://github.com/18F/cg-deploy-monitoring/pull/63

[2016-07-15 18:26] #53 closed, assigned to nobody

[2016-07-18 15:19] jmcarp commented on #62
We're now provisioning a tooling riemann in `deploy-monitoring` and uploading hardening releases to master-bosh in `deploy-bosh`. I think this should be unblocked now.

[2016-07-18 16:06] jmcarp commented on #123
https://github.com/18F/cg-provision/pull/46

[2016-07-18 16:50] #116 closed, assigned to jmcarp

[2016-07-18 16:51] mogul commented on #117
Josh says this is all done now.

[2016-07-18 16:51] #117 closed, assigned to nobody

[2016-07-18 17:37] madhujoshi commented on #70
The following statement can be used to give read-only access to all S3 buckets in the account.  We can restrict to specific bucket names and/or folders within that S3 bucket if needed.

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "FullPolicy",
            "Action": [
                "s3:GetBucketACL",
                "s3:GetBucketLocation",
                "s3:Ge

[2016-07-18 17:37] sharms commented on #126
Blocked on https://github.com/18F/cg-deploy-cf/pull/99

[2016-07-19 14:22] sharms opened #127 "Resolve East Concourse Unresponsive"
In order to continue to deploy, Concourse needs to respond to requests
- [ ] Increase from t2.medium to m4.large
- [ ] Migrate from magnetic disk to SSD

[2016-07-19 14:23] sharms commented on #126
Also needs https://github.com/18F/cg-deploy-cf/pull/101

[2016-07-19 14:23] sharms commented on #126
Waiting for https://github.com/18F/cg-atlas/issues/127

[2016-07-19 16:46] madhujoshi commented on #70
After talking to Adam, I understand the requirements need to be: read-only access to all AWS resources, read-write to S3 buckets.  Here's the modified IAM policy that achieves this goal:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "FullPolicy",
            "Action": [
                "acm:DescribeCertificate",
                "acm:ListCertificates",

[2016-07-19 17:42] dlapiduz commented on #70
@madhujoshi any chance that you can do this as a PR to https://github.com/18F/cg-provision and create a stack for users?

[2016-07-20 15:57] jmcarp opened #128 "Uncomment terraform bucket provisioning steps after upstream changes are merged"
We added a handful of commented-out bucket provisioning steps in https://github.com/18F/cg-provision/pull/46 that can be uncommented once bosh and s3-resource accept and release some of our pull requests:
- https://github.com/concourse/s3-resource/pull/43 (waiting for merge and release)
- https://github.com/cloudfoundry/bosh/commit/d473e74ccf9df32e2b38cef0ff40ce1616a3195b (waiting for release)

Co

[2016-07-20 16:01] dlapiduz opened #129 "Update Kibana to stop exposing directory listings"
In order to stop exposing directory listings we should update kibana to 4.3.5.

Acceptance Criteria:
- [ ] https://logs.fr.cloud.gov/bundles/node_modules/ returns 404

Implementation Idea:
- Upload new blob for 4.3.5
- Change https://github.com/18F/logsearch-for-cloudfoundry/blob/master/packages/kibana-for-cf/packaging to reflect that

[2016-07-20 16:53] mogul commented on #62
@rogeruiz can you give us an idea of what state this one is in?

[2016-07-20 16:53] mogul commented on #102
Per standup today, Terraform scripts done, should be able to test the deployment soon.

[2016-07-20 19:13] dlapiduz opened #130 "Deploy sentinel containers for each buildpack with Nessus agents"
In order to have more coverage of our OS scanning we should have sentinel containers reporting to nessus manager what OS level packages each buildpack is using and if there are any vulnerabilities on them.

Acceptance Criteria
- [ ] A pipeline is created to deploy an app for each buildpack
- [ ] There is an app per buildpack running the nessus agent reporting to the nessus manager

[2016-07-20 21:59] jmcarp commented on #123
Bucket policies are set correctly, and uploads without sse are rejected:

![screen shot 2016-07-20 at 5 46 48 pm](https://cloud.githubusercontent.com/assets/1633460/17004576/94bca32c-4ea3-11e6-967a-87ce220361a6.png)
<img width="710" alt="screen shot 2016-07-20 at 5 55 30 pm" src="https://cloud.githubusercontent.com/assets/1633460/17004584/9a60a22e-4ea3-11e6-92c8-a3e95261bef2.png">

[2016-07-21 15:08] jmcarp commented on #129
@dlapiduz: looks like kibana 4.3.5 isn't a thing. Should we use the latest version under the current minor version (4.3.3)? The version used by upstream logsearch-for-cloudfoundry (4.4.2)? Or the latest under the current major version (4.5.3)?

[2016-07-21 15:46] dlapiduz commented on #129
@jmcarp sorry, yeah I meant 4.5.3

[2016-07-21 15:47] jmcarp commented on #130
@dlapiduz: how do you think we should handle installing nessus agent on the apps? Looks like we could use buildpack-multi with apt-buildpack, unless there's a simpler option.

[2016-07-21 16:57] mogul commented on #127
Steve says we're good here now.

[2016-07-21 16:57] #127 closed, assigned to sharms

[2016-07-21 16:59] mogul commented on #129
Merged but not yet built and deployed.

[2016-07-21 17:09] rogeruiz commented on #62
@mogul Sorry about that, I was out yesterday. This just needs updated secrets uploaded with the riemann server URL for staging / master / tooling **and then** work that @sharms 18F/cg-deploy-bosh#9 did should be good to be merged in.

[2016-07-21 17:28] dlapiduz commented on #130
yeah maybe we have to do that... Not sure what is the right way...

[2016-07-22 04:50] jmcarp commented on #130
I took a quick look at this--I got nessus-agent to install with apt-buildpack, but I haven't been able to get it to run. It seems like nessus wants files to live in /opt/nessus_agent, but the buildpack installs packages in /home/vcap/app/.apt/opt/nessus_agent.

[2016-07-22 05:03] jmcarp commented on #129
Turns out that the upgraded kibana also requires a newer version of elastic. We could try updating to a newer version of logsearch-boshrelease, but we're pretty far behind now, so that could be scary (although it needs to happen eventually). Also, upgrading didn't appear to stop kibana from serving node_modules. Which version of kibana fixed that issue @dlapiduz?

[2016-07-22 14:39] ghost commented on #130
Seems like all we need to do is run nessus on the DEAs/Cells since the host has all the containers' files and processes.

[2016-07-22 15:51] jmcarp opened #131 "Update logsearch and logsearch-for-cloudfoundry"
- [ ] Use a current release of logsearch-boshrelease (see https://github.com/18F/cg-deploy-logsearch/pull/20)
- [ ] Switch to logsearch-for-cloudfoundry [upstream](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry) or pull in upstream changes

[2016-07-22 15:58] jmcarp commented on #129
Hilarious: the fix on kibana that I'm guessing @dlapiduz was looking for didn't actually make it into 4.x--looks like it's slated for 5.x, and not included in any stable releases: https://github.com/elastic/kibana/pull/6764.

In the meantime, we need to either roll back the kibana upgrade or start on https://github.com/18F/cg-atlas/issues/131.

[2016-07-22 16:10] jmcarp commented on #131
@LinuxBozo: how dangerous would it be to upgrade logsearch-boshrelease to latest on govcloud and see what happens? We're >250 commits behind the latest release, but the release notes after v200 (which we're on now) don't mention breaking changes, and the version bumps to ELK components are all minor/patch--although there's a note about upgrading to logstash 2.2 here: https://www.elastic.co/guide/e

[2016-07-22 16:49] rogeruiz commented on #123
👍

[2016-07-22 16:49] #123 closed, assigned to jmcarp

[2016-07-22 16:51] rogeruiz commented on #62
Docker swarm may be missing releases. need to verify.

[2016-07-22 16:58] rogeruiz commented on #126
Let's make a research story around fixing the URL naming issue we discovered on this task.

[2016-07-22 18:47] ghost commented on #130
This approach also covers external buildpacks--where a user references a buildpack by URL in their application manifest rather than specifying a platform-provided buildpack by name or letting the platform auto-detect the right buildpack.

[2016-07-22 18:49] ghost commented on #130
But we _could_ deploy sentinel apps for each platform-provided buildpack and rely on the nessus install on the host to scan them.

[2016-07-22 19:55] dlapiduz commented on #130
@sushiandbeer we need to get the nessus to scan the libraries on the running OS so its not just about the files. We do run the agent in the runners but we need to run it in the containers too...

[2016-07-22 20:24] ghost commented on #130
The rootfs files are found on the hosts at /var/vcap/data/packages/rootfs_cflinuxfs2, so nessus can scan them there.  That is unless you mean nessus needs to scan them _as they run_.  Even then, the host sees all processes since apps run in containers and not VMs.

[2016-07-22 23:57] mogul opened #132 "Deprecate EPA docker-swarm broker"
In order to reduce moving parts and avoid unexpected service impacts, we should be using a single broker for Docker-based managed services across organizations.

**Acceptance criteria**
- [ ] the EPA-specific Docker broker is removed

[2016-07-25 16:45] sharms opened #133 "Research: Fix East Naming Issues"
Currently US East is named incorrectly which will cause issues with all restarts and deployments

The following still work or are renamed:
- [x] www & `null` (a.k.a cloud.gov)
- [x] docs
- [x] compliance
- [x] logs
- [x] invite
- [x] dashboard

Constraints:
- CloudFront is not available in GovCloud
- Tested docs-fix.cloud.gov which when used via CNAME ends up returning *.sys.cloud.gov certificate

[2016-07-25 16:49] sharms commented on #126
https://github.com/18F/cg-atlas/issues/133

[2016-07-25 16:49] #126 closed, assigned to sharms

[2016-07-25 16:53] mogul commented on #131
Josh is testing a deploy of the upstream. The deploy worked, but it's not gathering logs yet, so needs debugging. We're looking to resolve this so we can stay in tandem with upstream.

[2016-07-25 17:29] frsfx commented on #102
All AWS resources were provisioned in Staging for Diego using cg-provision pipeline.

[2016-07-25 17:52] sharms opened #134 "Tooling Riemann should monitor $ENV Riemann job status"
In order to ensure all environments are monitoring, Tooling Riemann should query Bosh and determine if the 'monitoring' job in the 'monitoring-$ENV' environment is current at 'running' status.  If not in 'running', raise a pager duty.  If in 'running', resolve any pagerduty tickets.
- [ ] Tooling Riemann checks Production bosh job health
- [ ] Tooling Riemann checks Staging bosh job health
- [ ] T

[2016-07-25 20:01] sharms commented on #133
<img width="540" alt="screen shot 2016-07-25 at 4 00 42 pm" src="https://cloud.githubusercontent.com/assets/95657/17115364/0197b064-5281-11e6-9e1d-87a53dc8cfec.png">

[2016-07-26 13:43] LinuxBozo opened #135 "Ramp up Dan Shick"
In order to get NewPerson productively contributing to the cloud.gov team, Buddy should help NewPerson complete a prescribed set of tasks that will bring them up to speed.
# Directions:

**NewPerson and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person doe

[2016-07-26 14:34] sharms opened #136 "Fix admin-ui"
Currently not deploying

[2016-07-26 16:07] mogul commented on #98
Do we still need this @dlapiduz? I thought so...

[2016-07-26 16:08] mogul commented on #98
Or is this a dupe of 18F/cg-compliance#162?

[2016-07-26 17:05] #62 closed, assigned to rogeruiz

[2016-07-26 17:11] mogul commented on #131
Now ingesting logs, kibana dashboards are up, but the collected logs aren't showing in the dashboards, so still need to resolve that.  Nearly done.

[2016-07-26 17:16] mogul commented on #133
Update from Diego: Seems like the only quick way to do this is with CloudFront, though it's not available in GovCloud. We will likely use it anyway, as we do Route53, and not consider it within our boundary. Adam: Could also have our own proxy layer behind ELBs... but it's more work. Bret: We'll need to do that eventually anyway for EINSTEIN-type stuff... but not ready to do that yet and it's more

[2016-07-26 17:18] mogul commented on #136
Diego says this is due to the same problem observed around the docker swarm broker yesterday... Missing availability zone in the config. Roger: I can audit other places where this is missing. Adam: Upcoming BOSH allows specifying this in cloud-config.

[2016-07-26 17:37] mogul commented on #129
@jmcarp will ask for a 4.x that includes the two-line fix upstream.

[2016-07-26 17:45] mogul commented on #132
Not going to do this one... Going to just ask EPA to move to GovCloud instead (when the time comes).

[2016-07-26 17:45] #132 closed, assigned to nobody

[2016-07-26 18:07] mogul commented on #106
Expecting to take care of this in response to the BOSH health monitor sending us alerts, which will start happening soon.

[2016-07-26 18:13] mogul commented on #111
We're going to wait on this until we can say that our logsearch ELK is stable and HA.

[2016-07-27 14:58] dlapiduz commented on #133
@sharms I am going to edit the list to make sure we only have the ones we care about

[2016-07-27 15:14] dlapiduz commented on #133
also a note about this, please lets create the cloudfront distros using the govcloud cdn broker not the e/w one. That way we have them ready in the new env.

[2016-07-27 21:32] mogul commented on #59
From today's grooming, here's a draft backlog

Outline of the transition based on the discussion today:
- GovCloud ready to receive tenants (internal apps all deployed and functional)
- Write comms about why we're doing this, what benefits they'll get, and what we'll do to help people move smoothly. Prompt for questions!
- Draft user-empathetic comms with lots of context for each of the milestones

[2016-07-27 23:36] brittag commented on #59
This makes sense to me overall! I'll have suggestions for the individual items (the initial announcement should include an approximate timeline of planned changes, etc.) but I can file those after they get broken out.

[2016-07-28 03:26] jmcarp commented on #131
Sent a few mostly small patches upstream:
- https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/145
- https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/148
- https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/149
- https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/152
- https://github.com/cloudfoundry-comm

[2016-07-28 15:57] frsfx commented on #102
In order to approve Diego for production and ready for use in GovCloud the following criteria must be met:
- [ ]  Deployed
- [ ]  Run automated tests from upstream
- [ ]  Deploy cloud.gov apps with monitoring
- [ ]  Migrate some 18F apps
- [ ]  Migrate sandboxes
- [ ]  Migrate more risky stuff
- [ ]  Migrate Dept of ED, college scorecard

[2016-07-29 20:31] jmcarp commented on #133
Update:
- The www, compliance, and docs domains moved to cloudfront, with service instances provisioned in govcloud / cloud-gov / services
- The logs, invite, and dashboard domains were moved to custom domains in east/west
- The cloud.gov domain was deleted from east/west

AFAICT, we should be able to close this issue and redeploy east/west.

[2016-07-29 20:47] jmcarp opened #137 "Handle discrepancy between e/w and gc logsearch"
Logsearch in e/w is using our fork of logsearch-for-cloudfoundry and an old version of logsearch-boshrelease (v200). Logsearch in gc _almost_ the same as logsearch-for-cloudfoundry upstream (just waiting for a small patch to be merged) and the latest release of logsearch-boshrelease (v203). To keep maintenance simple, we may want to update e/w logsearch to match gc. But because the elasticsearch m

[2016-07-30 16:07] ghost commented on #102
Duplicate of https://github.com/18F/cg-product/issues/22

[2016-07-30 16:07] #102 closed, assigned to frsfx

[2016-08-01 19:41] LinuxBozo commented on #137
👍 to Just doing branch for e/w

[2016-08-01 21:57] ghost commented on #106
Reopening.  This appears be causing problems with (at least) resurrection.

[2016-08-02 19:25] ghost opened #138 "Enable route_services in CF govcloud production"

[2016-08-02 19:43] ghost commented on #138
Enabled via secrets to match govcloud staging

[2016-08-02 19:43] #138 closed, assigned to nobody

[2016-08-03 18:34] dlapiduz commented on #133
@jmcarp can we close this?

[2016-08-03 18:36] #133 closed, assigned to sharms, jmcarp

[2016-08-03 20:08] dlapiduz commented on #136
This is working now

[2016-08-03 20:08] #136 closed, assigned to sharms

[2016-08-04 17:59] dlapiduz commented on #111
@sushiandbeer @jmcarp can we close this?

[2016-08-05 04:36] jmcarp opened #139 "Redirect firehose through riemann"
- [x] Write riemann firehose nozzle
- [x] Verify influxdb / grafana still work
- [x] Automate deployment of riemann nozzle
- [x] Deprecate influxdb nozzle

[2016-08-07 03:58] jmcarp opened #140 "Ignore false positive snort alerts"
The snort community rules treat all requests that include `() {` as a "Bash CGI environment variable injection attempt", but this rule catches apparently innocuous code uploads and sends spurious alerts. We may want to drop this rule or only apply it to certain environments.

cc @dlapiduz

[2016-08-08 03:59] jmcarp opened #141 "Evaluate kubernetes for managed services"
Implementation sketch:
- https://github.com/CloudCredo/kubernetes-release
- https://github.com/trustedanalytics/kubernetes-broker

Tasks:
- [x] Update k8s-release to current etcd, docker, k8s
- [x] Deploy k8s-release to staging
- [x] Deploy k8s-broker to staging

[2016-08-09 14:52] ghost opened #142 "Patch systems for libarchive vulernability"
As an SRE, I need to ensure all hosts are patched to remediate a critical vulnerability related to libarchive.

http://www.ubuntu.com/usn/usn-3033-1/
- [ ] Ensure that all bosh deployments are using the latest stem cell

From Slack conversation here: https://18f.slack.com/archives/cloud-gov-atlas/p1470678922001861

[2016-08-09 17:53] rogeruiz commented on #142
If it's checked off it's deploying  ✅, otherwise it needs attention 🚫.

This covers `e/w`
- [x] `deploy-cf`
- [x] `deploy-bosh`
- [x] `deploy-concourse`
- [x] `deploy-monitoring`
- [x] `deploy-discourse`
- [x] `deploy-logsearch`
- [x] `deploy-admin-ui`
- [ ] `deploy-docker-swarm`

This covers `govcloud`
- [x] `deploy-concourse`
- [ ] `deploy-docker-swarm`
- [x] `deploy-logsearch`
- [x] `deploy-nes

[2016-08-10 15:50] afeld commented on #59
Just heard that the legacy DEA backend is being phased out as of the end of 2016, in case we needed additional incentive to move folks.

https://docs.google.com/document/d/1L6behogKHG5GCs1suB-BLplb6_xB9L4LK0U0pAkuhYc/edit

[2016-08-10 18:46] ghost commented on #118
Looks like our stemcell bucket also needs to be publicly accessible.  https://github.com/cloudfoundry/bosh/issues/1271

[2016-08-10 19:04] ghost commented on #142
According to CATS and our own indepedent testing, we aren't negatively affected by Diego on stemcell 3262.5 as noted in https://github.com/18F/cg-product/issues/183

[2016-08-11 18:40] jmcarp opened #143 "Update influxdb release to upstream and migrate data"
- [x] Update to upstream influxdb-release using influx 0.13
- [x] Migrate existing data to new format
- [x] Deprecate fork of influxdb-release

[2016-08-11 19:22] #140 closed, assigned to nobody

[2016-08-13 17:55] jmcarp opened #144 "Warn users about pending runtime deprecations"
Cloud Foundry buildpacks periodically add new language runtime versions and drop old ones: https://github.com/cloudfoundry/python-buildpack/releases/tag/v1.5.8, https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.5.18, etc.

Tenants don't currently have a way of learning about changes to available runtimes until they deploy a previously working app and encounter an error. If possible,

[2016-08-15 15:26] jmcarp opened #145 "Ensure kubernetes deployment is automated"
In order to have a repeatable, auditable configuration the Kubernetes deployment needs to be created by automation.

Items:
- [x] IAM users for k8s masters / workers are created automatically
- [ ] Security group for k8s masters (only allow ingress on 6443 and ephemeral ports) are created automatically
- [ ] ELB for k8s masters is created automatically

[2016-08-15 16:04] jmcarp commented on #145
Note: the kubernetes source helpfully includes example IAM policies at https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/iam/kubernetes-minion-policy.json and https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/iam/kubernetes-master-policy.json.

[2016-08-16 21:04] #111 closed, assigned to nobody

[2016-08-17 19:24] datn commented on #59
My thoughts on dividing this task further:

1) enumerate all clients with services/assets/datastores/certs to be moved

2) document migration process for each type of service/asset/datastore/etc

3) create migration plan for each client incl. contacts for client, service dependencies and tasks to be performed by client

4) identify missing infra in govcloud env, if any

5) define process for backu

[2016-08-17 20:04] brittag commented on #59
Reference to Google Doc as well: https://docs.google.com/document/d/11aO1sPeCQXEbzb1l7FgQ2Z0wkboZpMxrmrYaw72C31U/edit

[2016-08-17 21:51] mogul commented on #59
Everything [we've noted above](https://github.com/18F/cg-atlas/issues/59#issuecomment-235727832) has now been broken out into separate issues... We're going to close this one and just work from the backlog now.

[2016-08-17 21:51] #59 closed, assigned to nobody

[2016-08-18 17:41] afeld commented on #29
Is this still relevant?

[2016-08-18 17:43] nikzei commented on #7
Let's figure out how to prioritize here, @brittag would love more clarity. Might be Britta meeting with Bret and Bridget . . .

[2016-08-19 16:17] jmcarp opened #146 "Raise ELB limit on govcloud"
Our in-progress kubernetes service broker exposes kubernetes services outside the cluster using dynamically provisioned ELBs. For this to work, we need to be able to provision lots of ELBs (one per service), but AWS imposes a limit of 20 ELBs by default. This limit needs to be raised, or ideally removed. @sharms and I didn't see a way to do this via the console--I didn't see the ELB limit listed u

[2016-08-22 14:55] ghost commented on #142
@mogul: To patch the docker-swarm systems, I believe we need an 18F employee to review the containers/apps running there and work with the container owners to determine the best way to migrate those containers to other hosts or perhaps determine if those containers can be run as apps on CF.

[2016-08-22 17:20] mogul opened #147 "Authenticate Concourse against in-boundary IDP"
In order to ensure that people outside of the cloud.gov team cannot grant or gain administrator access to our deployment, we want Concourse to refer to an in-boundary MFA-enabled IDP for authn+authz rather than GitHub teams.

**Acceptance criteria**
- [ ] cloud.gov operational systems refer to an in-boundary IDP for authn+authz, rather than GitHub
- [ ] We have a documented process for how people

[2016-08-22 17:25] mogul opened #148 "Alert on tampering with app logs"
In order to ensure we can vouch for the integrity of application logs, we want any activity which might imply they've been compromised to result in alerts.

**Acceptance Criteria**
- [ ] When someone tries to UPDATE or DELETE a log entry via the ElasticSearch port, an alert is generated
- [ ] When someone other than ElasticSearch tries to modify the ElasticSearch data store (eg a different user on

[2016-08-22 17:53] mogul commented on #7
I've reparented anything outstanding onto https://github.com/18F/cg-product/issues/243; will close this one out as representing all the work that was needed to get to the JAB meeting.

[2016-08-22 17:53] #7 closed, assigned to nobody

[2016-08-22 17:56] dlapiduz commented on #29
@afeld I think we can close it out, if we get asked again we can re open, they seem concerned about other stuff now

[2016-08-22 18:02] dlapiduz commented on #146
the limit is increased!

[2016-08-22 18:02] #146 closed, assigned to nobody

[2016-08-22 18:02] dlapiduz commented on #146
(to 50)

[2016-08-22 18:08] mogul commented on #147
Note [this PR](https://github.com/concourse/atc/pull/101) which makes Concourse work with generic OAuth providers, not just GitHub.

[2016-08-22 18:50] #29 closed, assigned to NoahKunin

[2016-08-22 19:42] ghost opened #149 "Dots in bucket names causing CC warnings"
In the CG CF Stage deployment, the following WARNINGs are seen in `cloud_controller_ng_ctl.err.log`:

[code]

[2016-08-22 21:48] mogul commented on #141
Can you give an update as to how this work is going? It looks like a research story, but there's no timebox on it, and it's hard to see what other backlog work is implied.

[2016-08-22 21:49] mogul commented on #145
Can you go through the grooming process on this one? It's hard to see what the outcome's expected to be and why.

[2016-08-23 14:52] ghost opened #150 "FR CF Acceptance Tests not automatically triggered"
CF acceptance tests are not automatically triggered after smoke test pass.

[2016-08-23 16:26] mogul commented on #147
Note also that the switchover should coincide with development of a formal process for gaining access.

[2016-08-23 18:15] ghost commented on #101
Diego cells initially sized to match DEAs.  Future sizing/scaling should take into account a number of factors, including current and anticipated workloads, risk tolerance and recovery performance characteristics in the event a cell or AZ goes offline where containers will come up on surviving cells.  See scaling notes at https://docs.cloudfoundry.org/concepts/high-availability.html#processes

[2016-08-23 18:15] #101 closed, assigned to nobody

[2016-08-23 18:37] sharms opened #151 "Evaluate bundled services"
@jmcarp commented on [Sun Aug 21 2016](https://github.com/18F/kubernetes-broker/issues/7)

This broker comes with several [services](https://github.com/18F/kubernetes-broker/tree/master/catalogData), some of which rely on [custom images](https://github.com/18F/kubernetes-broker/tree/master/custom_images).
- Which services and plans should we offer to users?
- Are the bundled services adequate for

[2016-08-24 02:44] mogul commented on #142
We believe this to be resolved now.

[2016-08-24 02:44] #142 closed, assigned to nobody

[2016-08-24 17:21] mogul commented on #142
Just to alleviate my nervousness: @sharms can you confirm that the update yesterday included the Docker swarm?

[2016-08-26 15:57] ghost opened #152 "Remove CF legacy runtime support"
When the Diego backend is accepted and legacy support is no longer desired, scale down the runners and hm9000 nodes to zero and don't allow users to select the backend.

See http://docs.cloudfoundry.org/adminguide/apps-enable-diego.html#redeploy

[2016-08-26 15:58] ghost commented on #152
Duplicate of https://github.com/18F/cg-product/issues/246

[2016-08-26 15:58] #152 closed, assigned to nobody

[2016-08-26 19:31] ghost commented on #101
Note that garden-linux has a default of 250 max_containers, and it is not recommended to increase beyond that.

https://github.com/cloudfoundry/garden-linux-release/blob/develop/jobs/garden/spec#L63

[2016-08-26 20:41] sharms commented on #151
Also added item - please take the base case and move to a acceptance test script so we can test each service

[2016-08-30 20:52] jmcarp opened #153 "k8s + cf demo"
@18F/cloud-gov-ops : feel free to add questions here so we can prepare answers and appear less unprepared

to demo:
- end-user workflow
- architecture (release, broker, deploy, consul)
- acceptance tests

[2016-08-31 21:22] dlapiduz commented on #147
I created a request but we need to create an endpoint for admin uaa.

[2016-08-31 21:23] brittag commented on #147
Ideally there should be some sort of auditable log of access requests, creations, removals, etc., like for other types of privileged access.

[2016-09-02 18:20] jmcarp opened #154 "Verify that kubernetes cluster is resilient to upgrades and disruptions"
In order to avoid disrupting customers, we want to ensure we can monkey with the k8s deployment without impacting the availability of existing k8s-brokered services.

**Acceptance Criteria**

When any of these events occurs...
- [ ] Upgrade kubernetes version
- [x] Upgrade stemcell
- [x] Destroy minion

...k8s-brokered services remain available with all their data intact.

[2016-09-02 20:37] jmcarp commented on #153
This happened!

[2016-09-02 20:37] #153 closed, assigned to nobody

[2016-09-03 03:56] jmcarp opened #155 "Configure appropriate resource limits for k8s-brokered service plans"
In order to ensure k8s-brokered services don't cost us ridiculous amounts to run, we want to specify reasonable limits and document them for customers.

**Acceptance Criteria:**
- [ ] We demonstrate that a churning service doesn't impact availability for others
- [ ] It's possible for customers to discover the resource limits associated with plans available to them

Implementation sketch:

Do rese

[2016-09-07 17:59] sharms opened #156 "Capture all host logs for auditing purposes"
In order have all platform logs available for auditing as Cloud Operations I want to send bosh job logs to CloudWatch.

**Acceptance Criteria**
- [x] /var/vcap/\* is sent to CloudTrail via AWS Logs

**Implementation Sketch**
- Add a [pre-start job configuration](https://bosh.io/docs/pre-start.html) to our [awslogs release](https://github.com/18F/cg-awslogs-boshrelease) that
  - iterates over somet

[2016-09-07 20:47] sharms commented on #148
Completed initial research and are prototyping solution.  ETA 2 days

[2016-09-08 15:16] sharms opened #157 "Encrypt Concourse S3 resources"
In order to have a fully encrypted at rest system to satisfy auditor requirements:
- [x] Concourse 's3' resource types have encryption enabled for all pipelines

[2016-09-08 17:05] sharms commented on #143
This has been completed

[2016-09-08 17:05] #143 closed, assigned to sharms, jmcarp

[2016-09-12 14:38] sharms opened #158 "Send audit logs to CloudWatch logs"
Currently audit logs are not send to CloudWatch logs, which means we cannot easily use this functionality to alert as described in https://github.com/18F/cg-product/issues/273
- [ ] /var/log/audit\* sent to CloudWatch logs

[2016-09-12 14:43] #158 closed, assigned to sharms

[2016-09-12 14:58] LinuxBozo commented on #147
UAA on tooling BOSH updated, and fronted with an ELB just for UAA access.
uaa: https://opauaa.fr.cloud.gov
login: https://opslogin.fr.cloud.gov
saml metadata: https://opslogin.fr.cloud.gov/saml/metadata

Things to note currently:
- Accounts will not be auto-created by saml, but as needed.
- Formal procedures need to be written on how to create and associate account with idp.
- Waiting on GSA for i

[2016-09-12 16:16] jbarnicle commented on #135
@LinuxBozo @datn Can we close this issue?

[2016-09-12 17:06] mogul commented on #147
Marking blocked based on the GSA dependency

[2016-09-14 20:55] sharms opened #159 "Tripwire needs security enhancements"
Currently tripwire job is owned by root however is set to `755` which enables vcap or others to read the job file.  Because tripwire is invoked during `pre-start` to create the vault, the -P and -Q parameters are visible to these users.
- [ ] Only root can access vault secrets
- [ ] Secret is unique per instance

[2016-09-15 00:58] mogul commented on #70
Closing as it looks like he already did it.

[2016-09-15 00:58] #70 closed, assigned to nobody

[2016-09-15 14:08] sharms opened #160 "Update systems to 3262.12"
In order to close security vulnerabilities identified 2016/09/13, we need to deploy a newer Stemcell:
- [x] Legacy EC2 CloudFoundry
- [x] Legacy EC2 Monitoring
- [x] Legacy EC2 Logsearch
- [x] Legacy EC2 Concourse
- [x] Legacy EC2 Admin UI
- [x] Concourse-AMI
- [x] Concourse 18F Task Image
- [x] Nessus Manager
- [x] GovCloud EC2 CloudFoundry
- [x] GovCloud EC2 Monitoring
- [x] GovCloud EC2 Logsear

[2016-09-15 16:17] jmcarp opened #161 "Investigate transient elasticsearch alerts"
If cluster is actually down, fix it; if not, fix spurious alerts.

[2016-09-15 16:18] jmcarp opened #162 "Update loggregator instance size"
To address swap alerts, embiggen loggregator instances.

[2016-09-15 17:11] mogul commented on #135
Let's double-check that any compliance requirements were hit.

[2016-09-15 20:09] mogul commented on #148
Works in staging, tested as sending alerts... Just needs deployment, which will happen today.

[2016-09-16 14:06] sharms opened #163 "Could not find any suitable subnets for creating the ELB"
1611 servicecontroller.go:201] Failed to process service delta. Retrying in 5m0s: Failed to create load balancer for service kube-system/monitoring-grafana: could not find any suitable subnets for creating the ELB

[2016-09-16 14:07] sharms opened #164 "Kubernetes: No tagged subnets found; will fall-back to the current subnet only"
W0916 14:02:51.933327    1611 aws.go:2093] No tagged subnets found; will fall-back to the current subnet only.  This is likely to be an error in a future version of k8s.

[2016-09-16 14:13] #164 closed, assigned to sharms

[2016-09-16 14:51] sharms commented on #148
Confirmed these are in production as of Sep 14

[2016-09-16 14:51] #148 closed, assigned to sharms

[2016-09-17 05:01] jmcarp opened #165 "Deprecate wercker"
Split out from https://github.com/18F/cg-product/issues/301.

We're using lots of CI tools: concourse, travis, circle, and wercker. We should get this number down to one or two; let's start by dropping wercker, which we're only using for a few projects. I don't think I have access to wercker. @dlapiduz or @mogul, can you turn off the wercker integration for the following projects:
- [x] cg-docs
-

[2016-09-17 05:05] jmcarp commented on #165
BTW, we're going to use concourse to check PRs for docs and landing, and we're going to drop our fork of the s3 broker. Concourse PRs at:
- https://github.com/18F/cg-landing/pull/96
- https://github.com/18F/cg-docs/pull/408

[2016-09-17 05:19] jmcarp opened #166 "Wire logs.cloud.gov to google analytics"
Implementation sketch: https://github.com/jmcarp/kibana-ga

[2016-09-19 23:13] mogul commented on #165
I killed those three projects in Wercker. It looks like `cg-docs` is still set up for Travis... Is that intentional? Also I notice some stuff is blocking, eg https://github.com/18F/cg-landing/pull/95 ... want to check that out?

[2016-09-19 23:16] mogul commented on #165
Also I notice it's got your icon next to the concourse-ci jobs. :) Is there another way to implement this such that it doesn't show these jobs as attached specifically to your account?

[2016-09-20 13:52] jmcarp commented on #66
Now that we're using terraform 0.7.3, this is unblocked for real (the patch adding AWS_LB_SSL_NEGOTIATION_POLICY was included in 0.7.1). Would the idea be to make a reusable module to set ssl negotiation policy for an elb?

[2016-09-20 13:59] sharms opened #167 "Terraform needs to have a tooling, staging and production bucket"
In order to ensure staging does not impact tooling or production, we need to split our credentials into three buckets.  In the current state a change to staging could in fact use Tooling credentials
- [ ] Tooling has it's own terraform file
- [ ] Production has it's own terraform file
- [ ] Staging has it's own terraform file

[2016-09-20 14:04] sharms commented on #167
State needs to be shared between tooling and staging due to enablement of peering

[2016-09-20 14:04] #167 closed, assigned to nobody

[2016-09-20 14:24] jmcarp commented on #165
- In what way is cg-docs set up for travis? It's not intended (by my, at least).
- Pull requests made while I was testing this work aren't going to work. If you look at the relevant build, it errored because one of the concourse yaml files wasn't included at the time. Concourse doesn't appear to have an `on_error` callback, so errored builds don't get a status update. In practice, builds that go w

[2016-09-20 14:25] sharms opened #168 "Nessus scanner not currently running reports in GovCloud"
Investigating Nessus login page error with appears to be related to product activation

[2016-09-20 14:26] sharms commented on #168
After investigation we found that the server needed to be reactivated with the primary server during our security audit and review session.  Diego was able to reset the activation and we were able to reload the GovCloud instance which is now functioning again.  Scans may have been offline since August 8th.

[2016-09-20 14:26] #168 closed, assigned to sharms

[2016-09-20 14:27] sharms opened #169 "GovCloud stemcell builder currently not building stemcells"
The GovCloud stemcell builder pipeline cannot retrieve a specific AMI to build the stemcell, which is causing us to be behind on currently released stemcells

[2016-09-20 14:44] afeld commented on #165
While there might be some follow-up tasks, seems like this is done, yeah?

[2016-09-20 16:03] cnelson commented on #66
Yes, and then apply to all existing ELBs, I can't imagine a case where we'd
want specific TLS negotiation policies for a specific ELB, they should all
be our defined best practice.

-Chris

On Tue, Sep 20, 2016 at 6:52 AM, Joshua Carp notifications@github.com
wrote:

[2016-09-20 17:18] jmcarp opened #170 "Update PHP buildpack"
Based on https://www.us-cert.gov/ncas/bulletins/SB16-263, we need to update to php buildpack >  4.3.18. We can either:
- Upgrade to cf-release 242
- Manually update php buildpack
- [x] Legacy CF Production
- [ ] Legacy CF Staging
- [x] GovCloud CF Production
- [x] GovCloud CF Staging

[2016-09-20 17:41] sharms commented on #170
`
curl -L -O https://github.com/cloudfoundry/php-buildpack/releases/download/v4.3.20/php_buildpack-cached-v4.3.20.zip

cf update-buildpack php_buildpack -p ./php_buildpack-cached-v4.3.20.zip`

[2016-09-20 18:11] sharms commented on #170
Legacy staging is currently completely unavailable and as such is not exposed.  Rolling out 242 will resolve.

[2016-09-20 18:11] #170 closed, assigned to sharms

[2016-09-21 16:54] jmcarp commented on #169
We're back! Fixing involved:
- Provisioning the stemcell user / policy in cg-provision
- Patching the stemcell builder to wait until AMI exists

[2016-09-21 16:54] #169 closed, assigned to sharms, jmcarp

[2016-09-21 18:28] #165 closed, assigned to nobody

[2016-09-21 18:34] jmcarp commented on #157
Done.

[2016-09-21 18:34] #157 closed, assigned to sharms, jmcarp

[2016-09-21 22:48] cnelson commented on #66
The GSA IT Security policy references this document for TLS configuration settings: https://insite.gsa.gov/portal/getMediaData?mediaId=669314 but it's dated 2014.  I don't know if there's a more current specification.

[2016-09-25 19:07] mogul commented on #165
I'm still seeing this in the `Integrations and services` for `cg-docs`; something for you to clean up @afeld?
![image](https://cloud.githubusercontent.com/assets/47762/18817577/92b3c3d6-8318-11e6-8ceb-f555c268a2a5.png)

[2016-09-26 15:16] LinuxBozo commented on #147
Integrated now with SecureAuth.
Still waiting on https://github.com/concourse/concourse/pull/658 for ability to authorize by scope.

[2016-09-26 15:39] mogul commented on #147
Leave it blocked for that reason, then?

[2016-09-26 17:52] jmcarp opened #171 "Alert if pagerduty is unavailable"
If riemann can't alert via pagerduty, redirect to cloud-gov-support.

cc @sharms

[2016-09-27 17:19] jmcarp commented on #161
Spurious alerts fixed in https://github.com/18F/cg-riemann-boshrelease/pull/31.

[2016-09-27 17:19] #161 closed, assigned to jmcarp

[2016-09-27 18:08] datn commented on #135
@mogul points out that this issue is still open. I'm happy to close it but for 2 things:
- Grant them access to the following (where applicable): AWS, New Relic, PagerDuty, StatusPage
- My feedback on how onboarding could have gone better

I can pledge to do the second one; should I have faith that the first one will be done? If so, I'll close it out.

[2016-09-27 19:15] #135 closed, assigned to LinuxBozo, datn

[2016-09-27 19:47] jmcarp commented on #171
Done in https://github.com/18F/cg-riemann-boshrelease/pull/32.

[2016-09-27 19:47] #171 closed, assigned to nobody

[2016-09-28 15:37] LinuxBozo opened #172 "Buildpacks & rootfs(stacks) should be deployable separately from CF release"
In order to better serve our customers with new buildpack features, and to respond to security updates more quickly, the buildpacks and rootfs should be able to be deployed separately from the main CF release.

[2016-09-29 17:50] mogul commented on #141
Long since done.

[2016-09-29 17:50] #141 closed, assigned to jmcarp

[2016-09-30 17:03] mogul commented on #131
Just rolled out a new version incorporating pretty much everything enumerated above

[2016-09-30 17:04] #131 closed, assigned to jmcarp

[2016-09-30 17:06] mogul commented on #160
Already done and onto the next version.

[2016-09-30 17:06] #160 closed, assigned to sharms

[2016-09-30 19:13] sharms opened #173 "monitoring.fr-stage.cloud.gov doesn't work"
Site doesn't respond at all currently, lets make this work

[2016-09-30 20:01] LinuxBozo commented on #172
rootfs bosh release:
- http://bosh.io/releases/github.com/cloudfoundry/cflinuxfs2-rootfs-release

Buildpacks are now their own releases, but not listed on bosh.io at the time this comment was made:
- https://github.com/cloudfoundry/ruby-buildpack-release
- https://github.com/cloudfoundry/nodejs-buildpack-release
- https://github.com/cloudfoundry/go-buildpack-release
- https://github.com/cloudfound

[2016-09-30 22:34] berndverst commented on #144
This is very interesting.

Do we have (as platform operators) have a way to run reports on the runtime a given application (or space) is using?
Maybe we can automate these notifications.

[2016-10-01 20:24] mogul commented on #144
Yes, though it's not always accurate, particularly if they're using a custom buildpack.

We've also discussed notifying people when there's a new buildpack version, because we don't believe it's automatically applied until they (at least) restage their application. However, I keep seeing conflicting info about that lately, with some sources implying their app _is_ automatically restaged when a new

[2016-10-01 21:47] mogul commented on #144
(Kinda buried, but [I found it](https://18f.aha.io/features/CGP-235#requirement_6284264633315295898).)

[2016-10-03 15:26] jmcarp commented on #129
Sorry this hasn't made progress. This will be resolved in the kibana 5.x release, and it sounds like we don't need to do anything about it in the meantime. I'm going to close this, but @mogul please reopen if I'm misunderstanding.

[2016-10-03 17:39] mogul commented on #129
I'm reopening, but applying the label blocked so it's clear we can't progress this until another thing happens (eg the Kibana 5.x release).

[2016-10-03 17:40] mogul commented on #129
(I also moved it back to the Backlog just to emphasize that other things have to take priority.)

[2016-10-05 14:05] jmcarp opened #174 "Ship concourse metrics to riemann"
Acceptance criteria:
- [x] Concourse metrics are shipped to riemann and persisted in influxdb
- [x] Concourse metrics are displayed in grafana, like this: https://metrics.concourse.ci/

[2016-10-05 15:42] LinuxBozo commented on #147
Blocked on waiting on newest Grafana release so we can migrate metrics to using UAA over github.

We have a current workaround for Concourse/scope issue by just not auto-creating shadow accounts in UAA. Script for creating accounts: https://github.com/18F/cg-scripts/blob/master/make-ops-admin.sh
Documentation updated: https://docs.cloud.gov/ops/managing-users/#managing-admins

[2016-10-05 16:56] rogeruiz commented on #154
Upgrading versions in k8s is _a bit more complicated in k8s itself_. Will split that into another story for now.

[2016-10-05 19:09] cnelson commented on #154
Some notes from my testing:

Pods that need to migrate to a new node (if the node fails, or is replaced as part of a rolling upgrade) take on average 3 minutes to become available again.

The longest time I saw in my testing was 9 minutes for a pod to become available after triggering a reschedule.

Most of this is due to the time is takes AWS EBS volumes to detach/attach to an instance.

[2016-10-05 19:25] datn commented on #145
1) I see k8s_master and k8s_minion being created in cg-provision:terraform/modules/kubernetes/iam.tf

2) In cg-provision:terraform/modules/kubernetes/sg_elb.tf I see security groups and port creation conforming to 6443 inbound and anything outbound... not sure what the ephemeral port requirement is.

3) Pretty sure cg-provision:terraform/modules/kubernetes/sg_elb.tf creates ELBs for k8s masters, b

[2016-10-05 20:07] cnelson commented on #145
1)  I notice those policies don't exactly match what's in the example polices @jmcarp linked.  For example. https://github.com/18F/cg-provision/blob/master/terraform/modules/kubernetes/iam.tf#L64 I don't see CreateTags in the example Minion policy, and in the master policy explicitly listing it is probably unnecessary since we grant `ec2:*`

2) LGTM 🌮

[2016-10-05 20:14] jmcarp commented on #145
We need `CreateTags` until bosh director knows how to do it, at which point we can get rid of https://github.com/18F/kubernetes-release/blob/master/jobs/kubernetes-minion/templates/pre-start.erb.

[2016-10-06 19:47] datn commented on #155
Re: ES resource allocation, we definitely want the ES_HEAP to be no more than half the allocated memory, even in a container, because Lucene uses the rest of the memory (for eminently cacheable objects) that vastly improves performance (in semi-extreme cases, from unusable to barely usable):

https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html

https://www.elastic.co/blog/

[2016-10-07 14:47] LinuxBozo commented on #147
Splitting out metrics so this can be closed..

[2016-10-07 14:49] LinuxBozo opened #175 "Authenticate metrics against in-boundary IDP"
In order to ensure that people outside of the cloud.gov team cannot grant or gain administrator access to our deployment, we want metrics (grafana) to refer to an in-boundary MFA-enabled IDP for authn+authz rather than GitHub teams.

**Acceptance criteria**
- [ ] cloud.gov operational systems refer to an in-boundary IDP for authn+authz, rather than GitHub
- [ ] We have a documented process for how

[2016-10-07 14:50] LinuxBozo commented on #175
Blocked on updated release of Grafana that does generic OAuth.

[2016-10-07 16:54] rogeruiz commented on #145
A good way to verify this is to deploy this to production in an automated way.

[2016-10-07 16:56] #147 closed, assigned to LinuxBozo

[2016-10-11 03:32] jmcarp opened #176 "Lint shell scripts with shellcheck"
https://github.com/koalaman/shellcheck

Implementation sketch:
- Run shellcheck on pull requests with code climate
- Run shellcheck on pull requests with concourse

Noticed this at https://github.com/alphagov/paas-cf/blob/master/Makefile#L52-L53 -- looks useful!

cc @afeld

[2016-10-11 21:44] cnelson commented on #145
k8s is in production now. Are we good to go on this?

[2016-10-12 17:13] #145 closed, assigned to datn, jmcarp

[2016-10-12 17:13] #154 closed, assigned to cnelson

[2016-10-13 04:43] jmcarp opened #177 "Fix light stemcell build in govcloud"
Stemcell 3263.7 is building in east but not in govcloud:

https://ci.fr.cloud.gov/teams/main/pipelines/aws-light-stemcell-builder/jobs/publish-ubuntu-hvm/builds/64

[2016-10-14 18:27] jmcarp commented on #177
Looks like this was a random aws flake on govcloud--stemcells are building fine again. Closing, suspiciously.

[2016-10-14 18:27] #177 closed, assigned to nobody

[2016-10-14 19:43] jmcarp opened #178 "Use an upstream riemann release"
Our riemann release is forked from https://github.com/hybris/riemann-boshrelease with some cherry-picked commits from https://github.com/xoebus/riemann-boshrelease and has significantly diverged from both. Since both upstream releases both allow injecting arbitrary riemann config files via job properties, we shouldn't need an independent fork. We also have a few semi-related jobs like riemann-chec

[2016-10-18 16:54] mogul commented on #129
Just an update... There's an RC for Kibana 5 now: https://github.com/elastic/kibana/releases/tag/v5.0.0-rc1

[2016-10-18 17:22] jmcarp commented on #129
By the way, for this change to reach us, it has to propagate through logsearch-boshrelease and logsearch-for-cloudfoundry, which likely means us or altoros spending time updating the cf auth kibana plugin, since the kibana plugin interface breaks from 4.x to 5.x. In other words, we're probably looking at more time after the release comes out, and the timing might not be under our control unless we

[2016-10-19 20:59] cnelson commented on #118
We believe this is an issue with the BOSH blobs in east/west and not the releases themselves

[2016-10-19 21:28] cnelson commented on #130
We think this should be retasked to scan the rootfs

[2016-10-19 21:31] #68 closed, assigned to nobody

[2016-10-21 13:53] cnelson commented on #156
Seems like this story needs an implementation sketch before we could think about moving forward on it. So... how do we propose to actually do this? I see a few possibilities:

### Maintain an exhaustive list of logs to capture in the release

This seems to be [what we are doing today](https://github.com/18F/cg-awslogs-boshrelease/blob/master/jobs/awslogs/templates/config/awslogs.conf.erb). We'd ju

[2016-10-25 18:54] cnelson opened #179 "Automate and document our logsearch restore process"
In order to be able to quickly restore from backups as an SRE I want an automated, easily scaleable, documented process for restoring specific date ranges of data into elastic search from our s3 backups.

## Acceptance Criteria
- [ ] An automated process exists for restoring data from s3 into elasticsearch

## Implementation Sketch:
Automate the steps describe in this PR https://github.com/18F/cg-

[2016-10-25 18:56] cnelson opened #180 "Practice and document our influxdb restore process"
In order to be able to quickly restore from backups as an SRE I want a tested, documented process for restoring influxdb from our s3 backups.
## Acceptance Criteria
- [ ] Operations docs are updated with a tested process for restoring data into our existing  influxdb deployment from s3 backups
- [ ]  Operations docs are updated with a tested process for restoring data into a newly created  influxd

[2016-10-26 16:51] #139 closed, assigned to jmcarp

[2016-10-27 03:14] jmcarp opened #181 "Size govcloud production logsearch deployment"
Since we don't have many tenants on govcloud yet, our logsearch deployment is smaller than on east, with only two data nodes (east is currently using ten). If the east deployment needs ten data nodes, we'll probably want to add more nodes to govcloud before asking more tenants to migrate.

I'm guessing this might be interesting to @datn, and I'm guessing @LinuxBozo or @sharms was involved in setti

[2016-10-27 17:03] jmcarp commented on #163
Not going to be provisioning ELBs with k8s for now.

[2016-10-27 17:03] #163 closed, assigned to sharms, jmcarp

[2016-10-27 17:40] jmcarp opened #182 "Monitor errors and downtime on platform cf apps"
Many components of cloud.gov are apps running on cloud.gov (service brokers, firehose, bots, etc). Cloud operations should be alerted if those components fail or start throwing lots of unexpected errors. Let's set up those alerts, probably with new relic or sentry.

cc @dlapiduz

[2016-10-27 21:26] jmcarp opened #183 "Github repos used by concourse are mirrored to a separate git service"
To ensure that we can deploy if github is down, we're going to mirror relevant github repos to an independent git service.

Implementation sketch:
- Run gitlab using kubernetes
- Configure gitlab to mirror cg-\* repos, plus anything else we might need to deploy if github is unavailable

[2016-10-28 14:43] dlapiduz commented on #182
@jmcarp thoughts on NR vs Sentry?

[2016-10-30 02:03] dlapiduz commented on #130
So I have _an_ idea about this @cnelson @LinuxBozo @sharms:

What if we create a docker image with the basic filesystem and the buildpack, push it to somewhere where clair can scan it and run the scans there. We can also try to push it to the docker private hub and scan it there.

[2016-10-30 02:03] dlapiduz commented on #130
Not sure how to create the image though.

[2016-10-30 03:45] cnelson commented on #130
Do we want to scan the running apps themselves, or the intermediate compile container?

If the former, it's pretty easy:

[code]

This should be easy to do in a container running under concourse.  If we are going to try to tackle this, we should probably use the opportunity to do https://github.com/18F/cg-atlas/issues/172 at the sametime, and just incorporate this scanning process into the pipelin

[2016-10-31 23:37] datn commented on #156
Testing more comprehensive log capture on a test host.

[2016-10-31 23:48] datn commented on #156
Committing my initial attempt at the pre-start script: https://github.com/18F/cg-awslogs-boshrelease/pull/5

Needs more work tomorrow, tho --

[2016-11-01 23:09] datn commented on #156
The above PR seems ready to me. If @cnelson approves and merges, I can test and then push this to the next column.

[2016-11-01 23:43] mogul commented on #129
OK, well, one milestone reached: [Kibana 5.00 is available](https://github.com/elastic/kibana/releases/tag/v5.0.0) as of six days ago

[2016-11-02 16:52] #174 closed, assigned to jmcarp

[2016-11-02 18:50] datn commented on #156
Changes merged to master -- now verifying we are seeing new log events in AWS console.

[2016-11-02 18:51] datn commented on #156
Deployed awslogs changes to logsearch --

[2016-11-02 19:12] datn commented on #156
Didn't work because the additional config dir was being improperly specified.

[2016-11-02 22:56] datn commented on #156
Okay, in testing it looks as if {instance_id} is not unique enough and is causing zillions of this error:

[code]

I might need to amend the log stream identifier, or there might be another problem.

[2016-11-03 17:44] datn commented on #156
Okay, after testing different log_stream_name configs (didn't have much hope for that), I conclude that the aggressive harvesting of all files under `/var/vcap/sys/log` is causing sequence token errors. I'm going to be smarter about which files to ingest in the pre-start script, because gathering all valid logs for compliance is the most important goal here.

[2016-11-03 19:21] datn commented on #156
Okay, I have a unique log stream name & a sane group name and am excluding very obviously non-ingestable logs from the config (files that are not text or empty, and files that have a rotation timestamp) to avoid uselessly spawning log readers. No sequence errors nor multiple-agent errors any more.

[2016-11-03 23:44] datn commented on #156
Just waiting on a thumbs-up and merge so we can redeploy and test.

[2016-11-04 00:21] cnelson commented on #3
@mogul  We are currently integrating with a client who is using their on-prem ADFS.  Once that is done, can we call this done too or do we still want to test with an actual Azure ADFS instance?

[2016-11-04 16:58] datn commented on #156
Waiting on merge -- https://github.com/18F/cg-awslogs-boshrelease/pull/7

[2016-11-04 19:23] mogul commented on #3
I was under the impression previously that on-prem AD didn't support SAML, and the only way to SAML-enable AD was to use Azure ADFS; I didn't even know that there was an on-prem ADFS option! I'm happy to find out if I'm wrong... If the integration happening now is a SAML integration with an agency's AD (whether ADFS or not), rather than using LDAP (which I believe is the case), then yeah, I think

[2016-11-04 19:23] mogul commented on #3
(Just to be clear: I don't want to support the LDAP option for AD integration even though it's technically possible, because it's too insecure and encourages poor practices from the agencies.)

[2016-11-05 14:04] cnelson commented on #3
I made the assumption it was on-prem as it's not accessible to the internet at large (doesn't even resolve) but either way, it's def an AD based integration, so I will close this, once we've got them up and running in prod!

[2016-11-07 17:05] dlapiduz commented on #172
Can I add this to the list:
- https://github.com/cloudfoundry/dotnet-core-buildpack

[2016-11-07 18:32] datn commented on #156
I'm seeing logs with the new log stream name pattern everywhere I look in CloudWatch. I'm just not sure if there's any deploy I need to manually kick off to be sure we're collecting everything everywhere, but this looks good to me.

[2016-11-07 20:27] rogeruiz commented on #125
Going to be tying some new documentation process for this, hopefully we can cover this story with documentation outputs from other stories currently in progress. Another good example is 18F/cg-site#457.

[2016-11-08 17:35] mogul commented on #175
[As of September 7th](https://github.com/grafana/grafana/blob/30f36fe2c48bae294f3287651fe7745a17d983ac/CHANGELOG.md), they're listing generic OAuth in the [release notes for `4.0-pre (unreleased)`](https://github.com/grafana/grafana/blob/master/CHANGELOG.md). The [`4.0.0` ](https://github.com/grafana/grafana/milestone/23)and [`4.0.0-beta1`](https://github.com/grafana/grafana/milestone/40) mileston

[2016-11-08 22:22] jmcarp opened #184 "Handle false positive pages about expiration of sporadic logs"
Some log groups fed by awslogs only log sporadically--some groups, like kubernetes-minion, only contain streams for pre-start and post-start logs. At the moment, these log groups will trigger pages after they expire and won't resolve until the deployment they're on restarts. We might be able to fix this by grouping logs differently, or by whitelisting offending log groups, etc.

[2016-11-09 00:19] brittag commented on #175
Noting for background info since many compliance-related stories have deadlines: I don't believe this has a specific due dates right now. It's likely that this will need to be completed by P-ATO, but specifics will likely get determined by the re-testing process.

[2016-11-09 15:06] jmcarp opened #185 "Configure diego overcommit"
We've been talking about overcommitting diego, and we're currently overcommitting memory on staging, but we should do more research before configuring production to overcommit. Some questions to answer:

* Should we overcommit at all?
* If so, by how much?
* How will we get alerted if we overprovision a box and tenant performance start to suffer?

@sharms @cnelson

[2016-11-09 15:10] cnelson commented on #185
How much is DEA overcomitted in east?  Probably a good place to start.

[2016-11-09 17:49] mogul commented on #156
@sharms will accept later today

[2016-11-09 17:51] mogul commented on #172
Looks like this is working!

[2016-11-09 17:51] #172 closed, assigned to nobody

[2016-11-09 17:55] mogul commented on #3
Waiting until the production IDP metadata is in place.

[2016-11-09 22:42] sharms commented on #156
The current implementation triggers on `pre-start` which means that it will be executed before any jobs start.  The current code will not add any logs during this time, as it searches for log files which have been written to (1), which do not exist on a stemcell upgrade.

This worked on staging as these systems are frequently rebooted without cause, however it is rare we reboot production.

**Reco

[2016-11-09 23:06] cnelson commented on #156
Good catch!  My bad for suggesting pre-start.

[2016-11-10 17:14] jmcarp commented on #184
@sharms and I put together a quick implementation in https://github.com/18F/cg-riemann-boshrelease/pull/46.

[2016-11-14 17:49] #184 closed, assigned to jmcarp

[2016-11-14 19:44] datn commented on #95
I've begun looking into Vault and will try to generate some well groomed issues around steps that need taking about secrets management.

[2016-11-14 19:49] jmcarp commented on #95
If we decide to mess with vault, I started https://github.com/jmcarp/cg-deploy-vault a while back.

[2016-11-14 20:08] datn commented on #95
Thanks @jmcarp !

[2016-11-15 17:22] jmcarp opened #186 "Create identity zone for deployer accounts"
So that credentials for accounts provisioned by the deployer account broker can last longer (or indefinitely), create a separate identity zone for deployer accounts with a different expiration policy.

cc @LinuxBozo @cnelson

[2016-11-15 19:17] cnelson commented on #3
Now testing in their QA environment, so this is moving along.

[2016-11-16 17:53] jbarnicle commented on #3
FDIC is Q/A at the moment - will test when that is complete.

[2016-11-18 23:39] cnelson opened #187 "HA plan for managed MongoDB"
In order to reliably store billing information I want our k8s-brokered MongoDB service to have a multi-az HA plan available.

**Acceptance Critera**
- [ ] An HA plan exists in production for MongoDB
  - [ ] The plan is multi-az
  - [ ] The plan can auto recover if a single member is lost
  - [ ] The plan backs up data off-system (to an S3 bucket?)
- [ ] A tested and documented plan for how to rest

[2016-11-18 23:49] cnelson opened #188 "Repeatable low-effort invoice-generation"
In order for the BU to spend as little effort as possible generating information for accounts-payable, we want a repeatable and consistent process for generating the access package and usage fees due to each agreement for each org each month.

[2016-11-19 01:04] cnelson commented on #3
This is in production, will move to closed when the agency confirms working on their end.

[2016-11-19 02:07] jmcarp opened #189 "Restore skipped acceptance tests"
A few bugs in the cf acceptance tests mean that we need to skip some some broken tests for now:

* The SSO tests are failing because they send requests to the api url without a protocol and don't follow redirects, so that we get 301s instead of 200s. We can restore these tests once https://github.com/cloudfoundry/cf-acceptance-tests/pull/155 or another fix is merged and released.
* The dotnet-core

[2016-11-21 15:41] cnelson commented on #3
Agency confirmed production works as expected, closing this

[2016-11-21 15:41] #3 closed, assigned to cnelson

[2016-11-25 15:31] cnelson commented on #156
@datn Did you address Steve's feedback about this running in pre-start?

I'm not sure what the best approach is here, but I can see  a few options:
- Toss a fairly long sleep() into the start of this job to give everything else a chance to start before we scan for logs
- Move this code to a post-start job and extend it to also restart/HUP the agent?
- Inject a cron job to scan for new logs and res

[2016-11-25 15:34] jmcarp commented on #156
Post-deploy might be a better place to move this, since we'd want all jobs to have started before we set up awslogs: https://bosh.io/docs/post-deploy.html. Or a cron job.

[2016-11-25 18:08] datn commented on #156
I missed the notification that this went back into ready, will look at it and everyone's helpful suggestions today.

[2016-11-25 19:02] datn commented on #156
I'm not understanding the problem @sharms points out, so I'll ask for clarification in channel.

[2016-11-25 20:44] datn commented on #156
https://github.com/18F/cg-awslogs-boshrelease/pull/11

[2016-11-28 17:24] cnelson commented on #156
Tested on admin-ui in staging, and while new logs are being added to the awslogs config file, they do not appear to be making it to cloudwatch.

I think the problem is that monit is not in the root user's path by default, so [this call to restart](https://github.com/18F/cg-awslogs-boshrelease/blob/master/jobs/awslogs/templates/bin/additional-logs.sh#L20) isn't executing.

[2016-11-29 17:07] jmcarp opened #190 "Update to bosh cli v2"
Development on the ruby bosh cli is frozen in favor of [bosh-cli](https://github.com/cloudfoundry/bosh-cli). Probably not a high priority, but we should switch scripts that use the old bosh cli to the new one:

* [x] finalize-bosh-release script
* [x] bosh-errand script
* [x] jumpbox script
* [ ] bosh-init in [bootstrap](https://github.com/18F/cg-deploy-bosh/blob/master/bootstrap.sh)

Then we can

[2016-11-29 20:15] mogul commented on #175
[Grafana 4.0.0](https://github.com/grafana/grafana/blob/master/CHANGELOG.md) is now released, and includes @LinuxBozo's generic OAuth PR!

[2016-11-30 05:10] jmcarp commented on #175
The upstream grafana bosh release just updated to 4.0.0, and we submitted https://github.com/vito/grafana-boshrelease/pull/19 to configure generic oauth.

[2016-11-30 16:24] combor commented on #189
@jmcarp Regarding reserved characters test. Make sure you use offline java buildpack that has version pinning. We were using online buildpack that downloads dependencies and picks the most recent minor version.  That's the fix: https://github.com/alphagov/paas-cf/pull/629/files

[2016-11-30 20:16] brittag commented on #129
Might be worth checking in on those upstream projects since it's been a few weeks - not sure how to check for this myself.

[2016-11-30 23:24] jmcarp opened #191 "Configure bosh cloud-config"
Bosh cloud-config allows us to define infrastructure-specific resources like AZs, networks, etc, in a shared configuration rather than defining them for each deployment. We should use cloud-config to cut down on duplicate configuration and secrets.

Documentation: https://bosh.io/docs/cloud-config.html

Tasks:
* [ ] AZs
* [ ] Networks
* [ ] VM types
* [ ] VM extensions
* [ ] Disk types
* [ ] Compi

[2016-11-30 23:52] rogeruiz commented on #191
Woo! Awesome. Thanks 🙏🏽 @jmcarp!

[2016-12-01 17:14] LinuxBozo commented on #128
@jmcarp We can proceed with these now, yeah?

[2016-12-04 19:20] jmcarp commented on #175
Update: this happened, but since grafana generic oauth doesn't seem to give us a way to restrict access to certain users, anybody with an opslogin account can authenticate--see https://github.com/grafana/grafana/issues/6809 for details. Given that opslogin is only for cloud.gov staff, I don't think this is an immediate problem. How about accepting this and submitting a patch for grafana to verify

[2016-12-05 15:32] cnelson commented on #156
https://github.com/18F/cg-awslogs-boshrelease/pull/12 uses a new approach to ensure logs are captured even on short-lived / ephemeral VMs

[2016-12-06 03:15] brittag commented on #98
We now have a [services table](https://docs.google.com/document/d/1xZI6mTbJpXVG90rGL1LswgPf6YUN7FM2yBPhfPhRgw8/edit#) that should fulfill this requirement if we need this for anything in the future.

[2016-12-06 03:15] #98 closed, assigned to nobody

[2016-12-06 16:06] dlapiduz commented on #185
I think so, most people don't use all the RAM on their apps

10x might be too much but 5x IMO is about right

We should get alerts if a box is running out of disk or ram regardless of this so we should get something...

[2016-12-06 16:17] dlapiduz commented on #130
I think that would be better than nothing so if we set that up we would be better off.

[2016-12-07 03:32] mogul commented on #175
I'm good with that approach.

[2016-12-07 17:50] mogul commented on #175
Done at last!

[2016-12-07 17:50] #175 closed, assigned to jmcarp

[2016-12-07 20:28] datn commented on #95
Picking this back up, I am now running Vault locally to learn about it and see whether it's feasible to address the concern about unsealing in an automated environment that Josh brought up (which is touched on [here](https://www.vaultproject.io/docs/concepts/seal.html) and [here](https://github.com/hashicorp/vault/issues/72).

[2016-12-12 16:58] jmcarp opened #192 "Connect to firehose using client instead of user"
So that logsearch firehose credentials don't expire and break everything. This is mostly done--filing the issue for visibility.

* [x] Update go-cfclient
* [x] Update firehose-to-syslog
* [x] Update logsearch-for-cloudfoundry
* [x] Update cg-deploy-logsearch

[2016-12-12 17:49] mogul commented on #156
@datn can you accept this one?

[2016-12-14 17:51] rogeruiz commented on #156
Accepting this one.

[2016-12-14 17:51] #156 closed, assigned to cnelson

[2016-12-14 17:52] rogeruiz commented on #192
currently blocked on work from 18F/cg-product#496 about UAA not starting up successfully.

[2016-12-16 17:50] rogeruiz commented on #192
This is good to go.

[2016-12-16 17:50] #192 closed, assigned to jmcarp

[2016-12-22 15:18] nikzei commented on #144
PI8 75% assessment:

SHOULD: This is important for our customer experience + potentially important for prospective customers. Unsure about the size of this issue + whether we'd need to push it into PI9.

[2016-12-28 06:25] cnelson opened #193 "Common releases should be automatically deployed to all VMs"
In order to ensure all VMs are in a compliant state as an SRE I want to know that updates to a common release will be deployed system-wide within 24 hours.

**Acceptance Criteria**
- [ ] All bosh deployment pipelines are audited to ensure they trigger on common releases
- [ ] Alerts are raised when if a deployment is running an old release for more than 24 hours.

**Background**
This has taken way

[2016-12-29 01:30] brittag commented on #129
I checked on this as part of our monthly update of our POAM, and for my own future reference, here are the two files that seem helpful to check for Kibana version status:

* https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/master/packages/cf-kibana/spec - currently version 4.4.2
* https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/develop/packages/kibana/

[2017-01-01 00:47] mogul commented on #144
Definitely for PI9; reparented onto the Feature we've got slated.

[2017-01-03 21:04] jmcarp commented on #95
WIP Proposal:
* Concourse workers can fetch vault secrets used in bosh deploys using [ec2 auth](https://www.vaultproject.io/docs/auth/aws-ec2.html).
    * Alternatively, use [approle auth](https://www.vaultproject.io/docs/auth/approle.html); means concourse jobs must be passed secrets explicitly, but allows for finer granularity between pipelines
* Concourse jobs must pass the correct client nonce

[2017-01-11 19:51] cnelson commented on #181
This likely needs some attention in the near term.

Today we had [an outage](https://cloudgov.statuspage.io/incidents/ntnp7wjjdxxt) when elasticsearch master began reporting out of memory errors.  We bumped it's instance size to quadruple available RAM as a temporary fix. However, even with the upgraded instance, starting up the cluster from a bad state still took 1.5 hours for it to return to gre

[2017-01-11 21:05] LinuxBozo commented on #181
@cnelson master, as in single? There is currently IIRC a 3 master cluster in e/w. So yeah, between that and data nodes, we should revisit promptly.

[2017-01-12 05:05] jmcarp opened #194 "Trust govcloud rds ca"
When I was setting up acceptance tests for the rds broker in https://github.com/alphagov/paas-rds-broker/pull/31, I noticed that our govcloud deploy doesn't trust the root cert for govcloud rds. I set it up on staging, but we should also add to prod, and document and/or check in the certs.

[2017-01-12 05:05] jmcarp commented on #194
Certs at http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.SSL.html.

[2017-01-12 05:13] jmcarp opened #195 "Alert when approaching aws resource limits"
At the moment, we don't know when we're close to aws resource limits until we hit them, or check (which I'm guessing we don't do very often). We should automate checking so that we can request higher limits before we or our users run into problems.

We might be able to reuse parts of http://docs.aws.amazon.com/solutions/latest/limit-monitor/deployment.html or https://github.com/jantman/awslimitche

[2017-01-14 21:23] jmcarp opened #196 "Size and monitor logsearch queue"
The redis queue in the logsearch release has a default congestion threshold of 1m: https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/8cb7e9391027012b439246f67186fdc0d9e3310b/jobs/ingestor_syslog/spec#L65-L67. In our case, that threshold is far less than the capacity of the box, so we should raise it to a reasonable level.

* [x] Ensure queue vm has memory / disk capacity for X d

[2017-01-18 17:48] mogul commented on #95
To be closed once an implementation story is documented.

[2017-01-18 17:49] rogeruiz commented on #95
I'll add the implementation story today

[2017-01-18 18:07] rogeruiz commented on #95
Closed by 18F/cg-product#657

[2017-01-18 18:07] #95 closed, assigned to rogeruiz

[2017-01-18 20:31] rogeruiz commented on #196
Working on operator docs for back-of-the-envelope calculations for VM memory and disk space.
18F/cg-site#708

[2017-01-21 07:46] mogul commented on #181
This issue was about the sizing in particular. I think this is what @rogeruiz is working on this week, right? In which case, this should be `In Progress`... Moving it there now.

[2017-01-23 16:11] rogeruiz commented on #195
We've got great alerts coming in through Slack now.

<img width="635" alt="screen shot 2017-01-23 at 11 09 21 am" src="https://cloud.githubusercontent.com/assets/706004/22211904/ada06ee0-e15c-11e6-93a1-77788f87c45d.png">

[2017-01-23 17:22] #162 closed, assigned to jmcarp

[2017-01-23 17:23] #173 closed, assigned to sharms

[2017-01-23 19:17] mogul commented on #179
To be broken into two stories by @cnelson, the first of which is `In Progress`

[2017-01-23 19:47] mogul commented on #150
Not an issue anymore

[2017-01-23 19:47] #150 closed, assigned to nobody

[2017-01-23 22:27] #128 closed, assigned to nobody

[2017-01-24 05:45] jmcarp commented on #195
We have some more work written up in stories on the new repo, but I think this one can be accepted. Closing.

[2017-01-24 05:45] #195 closed, assigned to rogeruiz

[2017-01-24 18:39] cnelson opened #197 "Practice and document our logsearch disaster recovery"
In order to be able to quickly restore from backups as an SRE I want a tested, documented process for restoring elastic search for standing up a new logsearch cluster and importing data into it from our s3 backups.

## Acceptance Criteria
- [ ]  Operations docs are updated with a tested process for restoring data into a newly created logsearch deployment running along side our existing deployment

[2017-01-24 18:43] cnelson commented on #179
This one edited to reflect the work that should fall out of https://github.com/18F/cg-product/issues/573

https://github.com/18F/cg-atlas/issues/197 opened to to practice a more extreme scenario (which is not critical)

[2017-01-24 19:16] mogul commented on #118
We're `Icebox`'ing this for now on the assumption we'll dredge it up in future when we work on replication/contingency-planning work.

[2017-01-24 19:26] mogul commented on #130
We're leaving this one as a nice-to-have but not critical given that upstream maintainers are already looking at CVEs for buildpack updates. It's also much lower priority than scanning fully-provisioned containers that already have customer code in them; that's where the least-scanned, highest-value work could be done.

[2017-01-24 22:04] #194 closed, assigned to nobody

[2017-01-24 23:49] cnelson commented on #196
Queue sized has been increased in production, but in our testing in staging, we did not see alerts when redis was facing memory contention.

 Leaving this story in-progress until we can verify that we   are alerted when the ingestors or queue are running out of RAM or DISK.

[2017-01-25 05:42] jmcarp opened #198 "Deploy cf-uaa-guard-service via concourse"
https://github.com/cloudfoundry-community/cf-uaa-guard-service

Should be a good onboarding task. h/t @LinuxBozo

[2017-01-25 05:43] jmcarp commented on #198
Might be of interest to @juliaelman or @rememberlenny. LMK if so!

[2017-01-25 12:28] rememberlenny commented on #198
Yep! Anything to start putting this into action.

[2017-01-25 15:48] rogeruiz commented on #198
Thanks @jmcarp.

For this task, I see the following things that'll be needed

- [x] [Knowledge of Concourse to get the UAA credentials for creating the UAA client.](https://github.com/18F/cg-deploy-cf)
    - [ ] [Knowledge of the UAA and reading the docs on how to creating a client with the right scope, etc.](https://docs.cloudfoundry.org/adminguide/uaa-user-management.html)
- [ ] [Knowledge of Co

[2017-01-26 18:22] cnelson commented on #179
Updated again to reflect the automation work we want to do, but will probably not be done as part of https://github.com/18F/cg-product/issues/573

[2017-01-27 18:29] cnelson commented on #196
@jmcarp @roger I'm calling this done.  If you agree can one of you review and close this?

I don't know if we should we get https://github.com/18F/cg-site/pull/708 merged before we close this.

[2017-01-27 20:04] jmcarp commented on #196
I accept!

[2017-01-27 20:04] #196 closed, assigned to rogeruiz, jmcarp

[2017-01-30 00:17] jmcarp opened #199 "Resize rds subnets"
At the moment, we're using /24 blocks for our rds subnets. This is probably fine for a while, but at some point (hopefully) we're going to run out of addresses. WDYT about switching to a /16 block?

[2017-01-30 17:08] cnelson commented on #181
I put together a [bare bones calculator](https://docs.google.com/spreadsheets/d/1zhf6Wmk2Sf5lF5nSTMASUcaVFd9kBVxHa9JMaMT9uR4/edit#gid=0) which may be helpful when thinking about the various bits of data that go into making sizing decisions for elastic search.  Some of which we can control (index strategy, sharding strategy, instance sizing) and some of which we cannot (retention requirements, volu

[2017-01-30 19:16] cnelson commented on #181
We are moving forward with the reindexing steps described above:

@rogeruiz and @rememberlenny are working on an upstream PR to expose indexing strategy as an option.

@jmcarp @cnelson working on determining the fastest way to re-index and starting that process.

[2017-01-31 16:24] jmcarp opened #200 "Document or improve custom bosh release process"
We're currently using a custom process for bosh releases: instead of checking changes to the `releases` and `.final_builds` directories into source control, we push them to s3, then pull them down again the next time we update the release. This is confusing because it's non-standard, and because sometimes we have conflicting release artifacts in git and in s3 (for example, when we build a communit

[2017-02-01 16:24] LinuxBozo commented on #200
@jmcarp The concourse having no git access was due to two issues:
  1. control/creation of the account needed to generate the necessary github auth token
  2. lack of properly protected branches (what was in place at the time was just limiting force push)

2 has been solved for us by recent github features, but 1 I'm not 100% sure is a solved problem that meshes with policy. I agree the current pr

[2017-02-01 16:42] cnelson commented on #200
Can we solve 1 by creating a google group who's email address we use to create the account?

Using a google group means it's not tied to an individual who can leave the organization, and access controls on the google group would allow us to control who can reset the password, etc.

[2017-02-01 17:08] LinuxBozo commented on #200
The biggest policy blocker is MFA is required on the account to be part of the org. If we can justify somehow being outside the org, maybe we could get around that? An account that relies completely on forks?